/*set color main*/
$color_main1: #6CB438;
$color_main2: #ffffff;
$color_3: #2e3191;
$color_4: #A70C0C;
$color_5: #FFC600;
$color_text_1:#050B5A;
/*end set color main*/
.box-ads-header{
  display: block;
  width: 100%;
  height: 93px;
  background-color: #053D9B;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  transition: all 0.5s ease;
  &.close-ads{
    opacity: 0;
  }
  .inner-ads-header{
    display: flex;
    position: relative;
    .ads-form{
      padding: 20px 0;
      .form-group{
        padding: 0 10px;
      }
      input{
        width: 100%;
        height: 50px;
        border-radius: 25px;
        border: none;
        padding: 0 15px;
        font-size: 22px;
        color: #053D9B;
        &::placeholder{
          color: #053D9B;
        }
      }
      .btn-send-info{
        margin-left: 12px;
        margin-right: 35px;
        width: 253px;
        max-width: 100%;
        height: 50px;
        background-color: #E74522;
        color: $color_main2;
        font-size: 27px;
        border-radius: 25px;
        text-transform: uppercase;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &:focus{
          outline: none;
        }
        &:hover{
          background-color: #00B9FF;
          color: $color_main2;
        }
      }
    }
    .btn-close{
      display: block;
      background: url("../images/btn-close.png") 0/100% no-repeat;
      width: 33px;
      height: 33px;
      position: absolute;
      right: 0;
      top: -16px;
      z-index: 9;
    }
    .box-images-ads{
      position: relative;
      .img-product-ads{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: auto;
        overflow: hidden;
        bottom: 0;
        left: 0;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .text-freeship{
      margin-top: -45px;
      padding-right: 35px;
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        height: 45px;
        background-color: #00B9FF;
        color: #ffffff;
        border-radius: 76px 76px 0 0;
        padding: 0 20px;
        br{
          display: none;
        }
      }
      .text-2{
        flex: 1;
      }
    }
  }
}
@media only screen and (max-width: 1366px) {
  .box-ads-header{
    height: auto;
    .inner-ads-header{
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0;
      .ads-form{
        .btn-send-info{
          font-size: 20px;
        }
      }
      .text-freeship{
        span{
          font-size: 18px;
        }
      }
      .box-images-ads{
        .img-product-ads{
          justify-content: flex-end;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .box-ads-header{
    .inner-ads-header{
      .text-freeship{
        span{
          font-size: 14px;
          padding: 0 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .box-ads-header{
    .inner-ads-header{
      padding: 0;
      .ads-form{
        .btn-send-info{
          width: 200px;
          height: 50px;
          font-size: 11px;
          margin: 4px auto 0;
          border-radius: 8px;
        }
        .form-group{
          width: 100%!important;
          margin-bottom: 4px;
        }
        input{
          height: 23px;
          font-size: 16px;
        }
      }
      .text-freeship{
        margin-top: -41px;
        .text-1{
          display: none;
        }
        span{
          height: 41px;
        }
      }
      .box-images-ads{
        .img-product-ads{
          justify-content: flex-end;
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .box-ads-header{
    background: url("../images/bg-ads-mb.jpg") 0/100% #053d9c no-repeat;
    width: 100%;
    min-height: 105px;
    background-position: top center;
    padding: 0;
    .inner-ads-header{
      .btn-close{
        display: block;
        right: 15px;
        top: -11px;
        left: auto;
        width: 25px;
        height: 25px;
      }
      .ads-form{
        padding: 4px 15px 0 0;
        .btn-send-info{
          font-size: 11px;
        }
        .form-group{
          padding: 0 10px 0 0;
        }
      }
      .text-freeship{
        span{
          height: 11vw;
          background-color: transparent;
          font-size: 15px;
          line-height: 16px;
          text-align: center;
          br{
            display: block;
          }
        }
        margin-top: 0;
      }
    }
    .error{
      padding-left: 33%!important;
    }
  }
}
@media only screen and (max-width: 374px) {
  .box-ads-header{
    .inner-ads-header{
      .ads-form{
       input{
         font-size: 14px;
       }
      }
      .text-freeship{
        span{
          font-size: 12px;
        }
      }
    }
  }
}