@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
  font-family: "SVN-Gilroy Regular";
  src: url("../font/SVN-Gilroy-Regular.woff2");
}
@font-face {
  font-family: "SVN-Gilroy Medium";
  src: url("../font/SVN-Gilroy-Medium.woff2");
}
@font-face {
  font-family: "SVN-Gilroy Bold";
  src: url("../font/SVN-Gilroy-Bold.woff2");
}
.gilroy-bold{
  font-family: "SVN-Gilroy Bold";
}
.gilroy-medium{
  font-family: "SVN-Gilroy Medium";
}

/*set color main*/
$color_main1: #6CB438;
$color_main2: #ffffff;
$color_3: #2e3191;
$color_4: #A70C0C;
$color_5: #FFC600;
$color_text_1:#050B5A;
/*end set color main*/
html {
  //scroll-behavior: smooth;
}
img{
  height: auto;
}
a{
  text-decoration: none;
  transition: all 0.5s ease;
  &:hover{
    text-decoration: none;
  }
}
.rs{
  padding: 0;
  margin: 0;
}
input{
  &:focus{
    outline: none;
  }
}
ul{
  li{
    list-style: none;
  }
}
button{
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  &:focus{
    outline:none
  }
}
//SCSS style general
@mixin flex_item_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@mixin flex_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@mixin flex_between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@mixin flex_end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
//animate css3
@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes zoom {
  0%{
    transform: scale(0.9);
  }

  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}
@keyframes fade {
  0%{
    opacity: 0.6;
  }

  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.6;
  }
}

//style hotline mb
@media only screen and (min-width: 768px) {
  .cell-mobile{
    display: none;
  }
}
.cell-mobile {
  position: fixed;
  left: 0rem;
  bottom: 84px;
  clear: both;
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 9;
}
.hotline-phone-ring-circle {
  width: 105px;
  height: 105px;
  top: -5px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}

@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
.cell-desktop .Asset_45, .cell-mobile .Asset_45 {
  width: 75px;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}
//style hotline mb

.error {
  font-size: 16px!important;
  color: red!important;
  text-transform: initial!important;
  font-family: "arial"!important;
  margin: 0!important;
  padding: 0 10px!important;
}
.error-bottom-mb{
  display: none;
}
.hide-pc{display: none!important;}
@media only screen and (max-width: 768px) {
  .error{
    font-size: 12px!important;
    padding: 0 0 0 4px!important;
    span{
      display: none;
    }
  }
  .error-bottom-mb{
    display: block;
    padding: 0 15px!important;
  }
}