footer{
  background: url("../images/bg-footer.jpg") 50% 0 no-repeat #6fdff8;
  .main-footer{
    padding: 50px 0 200px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    .top-footer{
      color: #2E3191;
      font-size: 15px;
      .logo-ft{
        display: block;
        margin: 25px auto 15px;
        width: 380px;
        height: 83px;
      }
      .name-ft{
        font-size: 28px;
      }
      .add-ft{
        font-size: 21px;
      }
    }
    .bottom-footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 25px;
      .item-footer{
        display: inline-block;
        color: #2E3191;
        font-size: 15px;
        h5{
          color: #2E3191;
          font-size: 24px;
          border-bottom: 2px solid #2E3191;
          padding-bottom: 5px;
          margin-bottom: 10px;
        }
        a{
          color: #2E3191;
          font-size: 15px;
          &:hover{
            color: #6CB438;
          }
        }
        .list-link{
          list-style: none;

        }
        .hotline{
          font-size: 30px;
        }
        .list-method-pay{
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          span{
            display: block;
            width: 167px;
            max-width: 49%;
            height: auto;
            margin-bottom: 10px;
            img{
              width: 100%;
            }
          }

        }
        .list-contact{
          display: flex;
          flex-direction: column;
        }
      }
      .col-footer-last{
        text-align: right;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  footer{
    .main-footer{
      .bottom-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 25px;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  footer{
    .main-footer{
      padding: 24px 15px 100px;
      background: none;
      .top-footer{
        .logo-ft{
          width: 229px;
          height: 49px;
          margin: 15px auto 10px;
        }
        .name-ft{
          font-size: 22px;
        }
        .add-ft{
          font-size: 12px;
        }
      }
      .bottom-footer{
        .col-footer-last{
          text-align: left;
        }
        .item-footer{
          margin-bottom: 15px;

          h5{
            text-align: center!important;
            font-size: 18px;
          }
          .hotline{
            font-size: 24px;
            line-height: 1;
          }
          .list-contact{
            display: flex;
            flex-direction: column;
            text-align: center!important;
          }
          .list-method-pay{
            justify-content: center;
            span{
              width: 49%;
              height: 40px;
              margin-right: 2%;
              &:nth-child(even){
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 512px) {
  footer{
    .main-footer{
      .top-footer{
        font-size: 12px;
        padding: 0 15px;
        .name-ft{
          font-size: 14px;
        }
        .add-ft{
          font-size: 10px;
        }
      }
      .bottom-footer{
        .item-footer{
          h5{
            font-size: 13px;
          }
          a{
            font-size: 12px;
          }
          .list-method-pay{
            justify-content: center;
            span{
              height: 36px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}