.modal{
  color: #04226e;
  font-family: 'Tahoma', sans-serif;
  .close{
    color: #04226e;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -15px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    &:hover{
      color: #ffffff!important;
      opacity: 1!important;
      background-color: #04226e;
    }
  }
  .modal-dialog{
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 96%;
  }
  .modal-content{
    border: none;
    font-size: 21px;
    border-radius: 20px;
    overflow: hidden;
    .title-1{
      font-size: 36px;
      margin-bottom: 4px;
    }
    p{
      font-weight: 300;
    }
    .content{
      margin-top: 10px;
      font-weight: 300;
    }
  }
  .modal-header{
    background-color: #2e3190;
    padding: 4px 10px;
    position: relative;
    .modal-title{
      font-size: 36px;
      color: #ffffff;
      font-weight: bold;
    }
  }
  .modal-footer{
    button{
      padding: 6px 15px;
      border-radius: 20px;
    }
    .btn-continue{
      background-color: #2e3190;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 10px;
      &:hover{
        background-color: #04226e;
      }
    }
    .btn-back{
      background-color: transparent;
      color: #04226e;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      &:before{
        display: block;
        content: "";
        background: url("../images/previous-01.png") 0/100% no-repeat;
        width: 21px;
        height: 21px;
        margin-right: 8px;
      }
    }

  }
  &.modal-notif{
    .modal-dialog{
      width: 450px;
      .modal-content{
        height: 150px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .modal-header{
      .modal-title{
        font-size: 24px;
      }
    }
    .modal-content{
      font-size: 16px;
      .title-1{
        font-size: 20px;
      }
    }
    .modal-footer{
      .btn-continue{
        font-size: 16px;
      }
    }
  }
}

//loading
$bluebell: #2E3190;
.loading{
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donut {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba($bluebell, 0.3);
  border-top-color: $bluebell;
  animation: 1.5s spin infinite linear;

  &.multi {
    border-bottom-color: $bluebell;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}