<header>
    <div class="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="inner-header">
                    <h1 class="rs">
                        <a rel="noopener" href="https://nhatnhat.com/" class="logo">
                            <img class="lazy" alt="Dược Phẩm Nhất Nhất" width="299" height="56" data-original="assets/images/logo.png"/>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-header">
        <picture>
            <source media="(max-width:768px)" width="768" height="977" srcset="assets/images/banner-mb.jpg">
            <img class="lazy" alt="Dược Phẩm Nhất Nhất" width="1920" height="770" data-original="assets/images/banner.jpg"/>
        </picture>
    </div>
    <div class="container-fluid">
        <div class="box-ads-header">
            <div class="container h-100">
                <div class="row h-100 ">
                    <div class="inner-ads-header w-100 h-100">
                        <span class="btn-close" id="btn-close-ads"></span>
                        <div class="col-4 col-sm-3 h-100">
                            <div class="row h-100 box-images-ads">
                            <span class="img-product-ads">
                                <picture>
                                    <source width="566" height="484" alt="Đại Tràng Nhất Nhất" media="(max-width:767px)" srcset="assets/images/img-product1mb.png">
                                    <img width="282" height="282" class="w-100 lazy" alt="Đại tràng Nhất Nhất" data-original="assets/images/img-product1.png"/>
                                </picture>
                            </span>
                            </div>
                        </div>
                        <div class="col-8 col-sm-9 h-100">
                            <div class="row text-freeship">
                                <span class="text-1">Miễn cước vận chuyển</span>
                                <span class="text-2">Bạn được trả lại hàng<br/> nếu bao bì còn nguyên vẹn</span>
                            </div>
                            <form class="row ads-form">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="form-group w-50">
                                            <input autocomplete="off" type="text" class="fullname" name="fullname" placeholder="Họ tên">
                                        </div>
                                        <div class="form-group w-50">
                                            <input autocomplete="off" type="text" class="telephone" name="telephone" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row justify-content-start">
                                        <a href="#form-order-bottom" name="send-info" class="btn-scroll btn-send-info">Mua ngay</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="error error-bottom-mb">* Trường bắt buộc</div>
            </div>
        </div>
    </div>
</header>
