<header>
    <div class="header-page">
        <div class="fixCen">
            <div class="header-top">
                <h1 class="rs"><a href="#" class="logo"></a></h1>
                <div class="box-right-header">
                    <span class="text-uppercase">Tổng đài tư vấn</span>
                    <a href="tel:0818122122" class="hotline"> 0818.122.122</a>
                    <a href="#" class="btn-order-now">Đặt mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</header>