<!--//$('#modal-success').modal();-->
<div class=" modal" tabindex="-1" role="dialog" id="modal-success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase w-100 text-center ">Hoàn tất</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
               <h4 class="rs title-1 font-weight-bold">Yêu cầu đặt hàng của quý khách</h4>
                <p class="rs">đã được gửi đến Xịt họng Nhất Nhất Plus</p>
                <div class="content">
                    Số điện thoại <span class="font-weight-bold">0818.122.122</span> sẽ liên hệ với quý khách trong thời gian sớm nhất.
                </div>
            </div>
            <div class="modal-footer border-top-0 flex-column align-items-center">
                <button type="button" class="btn btn-continue" data-dismiss="modal">Tiếp tục tìm hiểu sản phẩm</button>
<!--                <button type="button" class="btn btn-back" data-dismiss="modal">Quay về trang</button>-->
            </div>
        </div>
    </div>
</div>
<!--modal thông báo lỗi-->
<!--$('#modal-notif').modal();-->
<div class=" modal modal-notif" tabindex="-1" role="dialog" id="modal-notif">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase w-100 text-center">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="rs font-weight-bold">Gửi yêu cầu thất bại!</p>
            </div>

        </div>
    </div>
</div>
<!--loading-->
<div id="loading-request" class="loading" style="display:none;">
    <div class="donut"></div>
</div>
<div class="loading-start">
    <div class="donut"></div>
</div>
<!--loading-->