<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- SEO Google -->
    <title>Viên Đại Tràng Nhất Nhất</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <!-- End SEO Google -->

    <!-- SEO Facebook -->
    <meta property="og:locale" content="vi_VN"/>
    <meta property="og:site_name" content="Dược phẩm Nhất Nhất"/>
    <meta property="og:url" content="" itemprop="url"/>
    <meta property="og:image" content="" itemprop="thumbnailUrl"/>
    <meta property="og:title" content="" itemprop="headline"/>
    <meta property="og:description" content="" itemprop="description"/>
    <meta property="og:type" content="website"/>
    <!-- End SEO Facebook -->

    <!-- SEO Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:image" content=""/>
    <!-- End SEO Twitter -->
    <link rel="icon" href="./assets/images/favicon.png">
    <title>{{pageTitle}}</title>
    <style>
        .loading-start{
            width: 100%;
            height: 100%;
            background-color: #000000f2;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .donut {
            width: 5rem;
            height: 5rem;
            margin: 2rem;
            border-radius: 50%;
            border: 0.3rem solid rgba(46, 49, 144, 0.3);
            border-top-color:  #2E3190;
            animation: 1.5s spin infinite linear;
        }
        .donut.multi {
            border-bottom-color: #2E3190;
        }
        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
    <script>
        const expiresCookie = 365;;
        const prefixKey = 'NNXH123';
        const price = 285000;
    </script>
</head>
<body class="{{bodyClasses}}">
<div class="wrapper-landing">
    {% include "../share/header.html" %}
    {% block content %}{% endblock %}
    {% include "../share/footer.html" %}
    {% include "../share/modal.html" %}
</div>
<script src="assets/js/js_lib/jquery-3.1.1.min.js"></script>
<script src="assets/js/js_lib/bootstrap.min.js"></script>
<script src="assets/js//js_lib/jquery.lazyload.min.js"></script>
<script src="assets/js//js_lib/jquery.cookie.min.js"></script>
<script src="assets/js//js_lib/jquery.validate.min.js"></script>
<script src="assets/js//js_lib/owl.carousel.min.js"></script>
<script src="./assets/js/video.js"></script>
<script src="./assets/js/page_all.js"></script>
<!-- Action request data -->

<!--<script src="assets/js/app.min.js"></script>-->
<!-- Action request data -->
<script>
    $("img.lazy").lazyload();
    if ('loading' in HTMLIFrameElement.prototype) {
        const iframes = document.querySelectorAll('iframe[loading="lazy"]');
        iframes.forEach(iframe => {
            iframe.src = iframe.dataset.src;
        });
    } else {
        // Dynamically import the LazySizes library
        const script = document.createElement('script');
        script.src = 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js';
        document.body.appendChild(script);
    }
</script>
<!-- Action request data -->
<!--add css-->
<link href="./assets/css/css_lib/bootstrap.min.css" rel="stylesheet">
<link href="./assets/css/css_lib/owl.carousel.min.css" rel="stylesheet">
<link href="./assets/css/css_lib/owl.theme.default.min.css" rel="stylesheet">
<link href="./assets/css/style.css" rel="stylesheet">
<!--add css-->
</body>
</html>