<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- SEO Google -->
    <title>{{pageTitle}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <!-- End SEO Google -->

    <!-- SEO Facebook -->
    <meta property="og:locale" content="vi_VN"/>
    <meta property="og:site_name" content="Dược phẩm Nhất Nhất"/>
    <meta property="og:url" content="" itemprop="url"/>
    <meta property="og:image" content="" itemprop="thumbnailUrl"/>
    <meta property="og:title" content="" itemprop="headline"/>
    <meta property="og:description" content="" itemprop="description"/>
    <meta property="og:type" content="website"/>
    <!-- End SEO Facebook -->

    <!-- SEO Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:image" content=""/>
    <!-- End SEO Twitter -->
    <link rel="icon" href="./assets/images/favicon.png">
    <!--add css-->
    <link href="./assets/css/css_lib/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-page-sub.css" rel="stylesheet">
    <!--add css-->
</head>
<body class="{{bodyClasses}}">
    <div class="wrapper-page-sub">
        {% include "../share/header-page.html" %}
        {% block content %}{% endblock %}
        {% include "../share/footer-sub.html" %}
    </div>
</body>
<script src="assets/js/js_lib/jquery-3.1.1.min.js"></script>
<script>
    $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            $("#back-to-top").addClass('show');
        } else {
            $("#back-to-top").removeClass('show');
        }
    });
    $("#back-to-top").click(function () {
        $("html, body").animate({scrollTop: 0}, 300);
    });
</script>
</html>