<main>
    <div class="head-title">
        <div class="fixCen d-flex align-items-center">
            <h2 class="rs">Hướng dẫn mua hàng</h2>
        </div>
    </div>
    <div class="fixCen">
        <div class="main-content">
            <div class="info-step">
                <h3 class="title-guide">Đặt hàng</h3>
                <p class="lead-guide">Quý khách hàng có thể đặt hàng trực tiếp qua hotline <a href="tel:0818122122" title="Hotline">0818 122 122</a></p>
                <p class="lead-guide">Hoặc Truy cập vào website <a href="https://nhatnhat3hoathuyet.com" target="_blank" title="HOạT HUYếT – NHấT NHấT 3">nhatnhat3hoathuyet.com</a>, kéo đến phần đặt hàng</p>
            </div>
            <div class="illustrated-guide">
                <div class="item-img-guide">
                    <p>
                        <img src="https://nhatnhat3hoathuyet.com/v2/landingpage/images/2021/thieumaunao/step.png" alt="">
                    </p>
                    <p>Điền đầy đủ thông tin: Họ tên, điện thoại, địa chỉ nhận hàng, số lượng</p>
                    <p>Ấn "Đặt hàng" </p>
                    <h3 class="title-guide">Kiểm tra và xác nhận đơn hàng</h3>
                    <p>
                        Sau khi hoàn tất bước đặt mua, hệ thống sẽ gửi đến quý khách một mã số đơn hàng và thông báo thời gian giao hàng dự kiến.
                    </p>
                    <p>
                        Hotline <a href="tel:0818122122" title="Hotline">0818 122 122</a> sẽ liên hệ với quý khách để xác nhận đơn hàng.
                    </p>
                    <p>
                        Đơn hàng sau khi xác nhận sẽ được xử lý và giao đến cho quý khách trong thời gian sớm nhất.
                    </p>
                </div>
            </div>
            <div class="note-guide">
                <p><strong>Lưu ý </strong></p>
                <p>1. Bạn nên tham khảo phần chi tiết sản phẩm, đánh giá sản phẩm, mục hỏi đáp của khách hàng với chuyên gia</p>
                <p>2. Nếu cần thêm thông tin sản phẩm, bạn có thể nhấp vào mục “Chat ngay” để nhà bán hàng có thể tư vấn rõ hơn</p>
            </div>
        </div>
    </div>
</main>
<div id="back-to-top"></div>
