<main>
    <div class="head-title">
        <div class="fixCen d-flex flex-column justify-content-center">
            <h2 class="">Chính sách bảo mật</h2>
        </div>
    </div>
    <div class="fixCen">
        <div class="main-content">
            <ul class="ul ul-steps-order none-dot">
                <li>
                    <div class="index-guide">I</div>
                    <div class="info-step">
                        <h3 class="title-guide">Chính sách bảo mật thanh toán</h3>
                        <div class="group-pice">
                            <p><strong>1. Cam kết bảo mật</strong></p>
                            <p>Chúng tôi thực hiện cam kết bảo mật thanh toán với khách hàng thông qua việc chỉ hợp tác với "Đối tác cổng thanh toán" được cấp phép hoạt động tại Việt Nam nhằm đảm bảo các tiêu chuẩn bảo mật thanh toán thẻ tại Hoạt huyết – Nhất Nhất 3 được tuân thủ theo các tiêu chuẩn bảo mật ngành.</p>
                        </div>
                        <div class="group-pice">
                            <p><strong>2. Quy định bảo mật</strong></p>
                            <p>-&nbsp; Chính sách giao dịch qua thẻ quốc tế và thẻ nội địa đảm bảo các tiêu chuẩn của Đối tác thanh toán sau:</p>
                            <ul class="ul list-default">
                                <li>Thông tin tài chính của Khách hàng sẽ được bảo vệ trong suốt quá trình giao dịch bằng giao thức SSL (Secure Sockets Layer).</li>
                                <li>Chứng nhận tiêu chuẩn bảo mật dữ liệu thông tin thanh toán (PCI DSS) do Trustwave cung cấp.</li>
                                <li>Mật khẩu sử dụng một lần (OTP) được gửi qua SMS để đảm bảo việc truy cập tài khoản được xác thực.</li>
                                <li>Tiêu chuẩn mã hóa MD5 128 bit.</li>
                                <li>Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngân hàng nhà nước Việt Nam.</li>
                            </ul>
                            &nbsp;
                            <p>-&nbsp; Chính sách bảo mật giao dịch thanh toán</p>
                            <ul class="ul list-default">
                                <li>Toàn bộ các thông tin về thẻ thanh toán của khách hàng sẽ do Đối tác cổng thanh toán được cấp phép lưu trữ bảo mật. Công ty không trực tiếp lưu giữ thông tin thẻ khách hàng.</li>
                                <li>Đối với thẻ quốc tế: thông tin thẻ thanh toán của Khách hàng mà có khả năng sử dụng để xác lập giao dịch không được lưu trên hệ thống của chúng tôi. Đối Tác Cổng Thanh Toán sẽ lưu trữ và bảo mật.</li>
                                <li>Đối với thẻ nội địa (internet banking), chúng tôi chỉ lưu trữ mã đơn hàng, mã giao dịch và tên ngân hàng.</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="index-guide">II</div>
                    <div class="info-step">
                        <h3 class="title-guide">Chính sách bảo mật thông tin khách hàng</h3>
                        <div>
                            <p><strong>1. Mục đích thu thập thông tin cá nhân khách hàng</strong></p>
                            <p>Nhằm phục vụ cho việc thực hiện giao dịch cũng như tư vấn, tùy từng thời điểm khách hàng phải cung cấp một số thông tin cần thiết để đăng ký tài khoản (“Thông Tin Khách Hàng”).
                                Khách hàng có trách nhiệm đảm bảo tính chính xác và trung thực những thông tin cung cấp, chúng tôi không chịu trách nhiệm giải quyết vấn đề gì phát sinh liên quan nếu có liên quan tới thông tin khách hàng cung cấp.</p>
                        </div>
                        <div>
                            <p><strong>2. Thời gian lưu giữ và bảo mật thông tin</strong></p>
                            <p>- Thông tin khách hàng cung cấp trên hệ thống của chúng tôi sẽ được lưu giữ bảo mật, riêng các thông tin liên quan tới thẻ thanh toán của khách hàng sẽ do đối tác Cổng thanh toán bảo mật theo quy định luật pháp và các tiêu chuẩn quốc tế dành cho cổng thanh toán.<br>
                                - Thời gian lưu giữ thông tin sử dụng cho mục đích phục vụ khách hàng (như chuyển hàng, khiếu nại) cho các lần tiếp theo không quá 12 tháng kể từ lần mua hàng cuối cùng.<br>
                                - Tại bất cứ thời điểm nào, khách hàng có thể đăng nhập vào tài khoản và xóa tài khoản của mình. Mọi thông tin cá nhân của khách hàng sẽ được xóa khỏi hệ thống.</p>
                        </div>
                        <div>
                            <p><strong>3. Sử dụng thông tin khách hàng</strong></p>
                            <p>Chúng tôi có quyền sử dụng thông tin khách hàng vào các mục đích sau:<br>
                                - Cung cấp các dịch vụ/tiện ích cho Khách Hàng dựa trên nhu cầu và các thói quen của Khách Hàng;<br>
                                - Gửi các thông báo, trao đổi thông tin giữa Khách Hàng với chúng tôi<br>
                                - Phát hiện, ngăn chặn các hoạt động giả mạo, phá hoại tài khoản của Khách Hàng hoặc các hoạt động giả mạo nhận dạng của Khách Hàng;<br>
                                - Liên lạc, hỗ trợ liên lạc và giải quyết với Khách Hàng trong những trường hợp đặc biệt.</p>
                        </div>
                        <div>
                            <p><strong>4. Chia sẻ thông tin khách hàng</strong></p>
                            <p>Chúng tôi không cung cấp Thông Tin Khách Hàng cho bất kỳ bên thứ ba nào trừ trường hợp phải thực hiện theo yêu cầu của các cơ quan Nhà nước có thẩm quyền, hoặc theo quy định của pháp luật, hoặc khi việc cung cấp thông tin đó là cần thiết để chúng tôi cung cấp dịch vụ/tiện ích cho Khách Hàng (ví dụ: cung cấp các thông tin giao nhận cần thiết cho các đơn vị đối tác vận chuyển …).<br>
                                <br>
                                <strong>5.&nbsp;Phương thức và công cụ để khách hàng tiếp cận và chỉnh sửa dữ liệu</strong><br>
                                - Đối với các thông tin liên quan tới thanh toán, khách hàng thao tác trực tiếp trên hệ thống của đối tác cổng thanh toán được cấp phép hoạt động tại Việt Nam<br>
                                - Đối với các thông tin cá nhân để mua hàng và chuyển hàng, quý khách hàng có thể thao tác trực tiếp khi mua hàng hoặc đăng nhập vào tài khoản để cập nhật lại thông tin cá nhân của mình.<br>
                                <br>
                                <strong>6. Thông tin liên hệ của đơn vị thu thập và quản lý thông tin</strong><br>
                                - Liên hệ trực tiếp qua Hotline <a href="tel:0818122122" title="Hotline">0818 122 122</a><br>
                                - Riêng đối với thông tin thanh toán: Quý khách hàng liên hệ trực tiếp với “ Đối tác cổng thanh toán” để giải quyết nếu có vướng mắc, chúng tôi sẽ phối hợp cung cấp thông tin giao dịch mua bán cho khách hàng trong trường hợp cần thiết.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
<div id="back-to-top"></div>
