<main>
    <div class="head-title">
        <div class="fixCen d-flex flex-column justify-content-center">
            <h2 class="">Chính sách đổi trả</h2>
            <p class="rs">Hoạt huyết – Nhất Nhất 3 quy định các chính sách liên quan đến đổi trả hàng như sau:</p>
        </div>
    </div>
    <div class="fixCen">
        <div class="main-content">
            <ul class="ul ul-steps-order none-dot">
                <li>
                    <div class="index-guide">I</div>
                    <div class="info-step">
                        <h3 class="title-guide">Điều kiện đổi trả</h3>
                        <p class="lead-guide">Hoạt huyết – Nhất Nhất 3 hỗ trợ khách hàng đổi trả trong các trường hợp sau:</p>
                        <div class="group-pice">
                            <p class="name-pice">1. Giai đoạn nhận hàng</p>
                            <p>- Sản phẩm bị hỏng, bể vỡ khi tới tay khách hàng.<br>
                                - Sản phẩm mất tem niêm phong, quá hạn sử dụng.<br>
                                - Sản phẩm bị lỗi từ nhà sản xuất.<br>
                                - Sản phẩm nhận không đúng với tên sản phẩm khách hàng đã đặt.</p>
                        </div>
                        <div class="group-pice">
                            <p class="name-pice">2. Giai đoạn trong và sau khi sử dụng:</p>
                            <p>Sau khi sử dụng sản phẩm vì lý do nào đó khách hàng muốn trả số hàng còn lại thì chúng tôi sẽ nhận lại các sản phẩm còn lại đó với điều kiện: Sản phẩm chưa sử dụng, bao bì và niêm phong còn nguyên vẹn và trong vòng 20 ngày, kể từ ngày nhận hàng (bao bì là các hộp chứa các chai, vỉ, gói…, là các chai, bình… không có vỏ hộp).</p>
                        </div>
                        <div class="group-pice">
                            <p class="name-pice">3. Một số lưu ý</p>
                            <p>- Để tránh trường hợp đáng tiếc có thể xảy ra, quý khách hàng vui lòng kiểm tra sản phẩm trước khi nhận hàng và có quyền từ chối nhận hàng nếu hàng có các lỗi đễ đề cập ở trên.<br>
                                - Trước khi sử dụng sản phẩm quý khách cần đọc kỹ hướng dẫn sử dụng sản phẩm để đạt hiệu quả cao nhất.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="index-guide">II</div>
                    <div class="info-step">
                        <h3 class="title-guide">Thời gian áp dụng đổi trả</h3>
                        <p>- Khách hàng liên hệ với Hoạt huyết – Nhất Nhất 3 qua tổng đài để phản ánh trong vòng 1 tuần tính từ thời điểm nhận sản phẩm.<br>
                            - Trong 48h, chúng tôi sẽ đến nhận lại sản phẩm và đổi sản phẩm khác cho khách hàng nếu khách hàng vẫn có nhu cầu mua sử dụng.</p>
                    </div>
                </li>
                <li>
                    <div class="index-guide">III</div>
                    <div class="info-step">
                        <h3 class="title-guide">Chi phí đổi trả</h3>
                        <p>- Sản phẩm bị hỏng, bể vỡ khi tới tay khách hàng, mất tem niêm phong, quá hạn sử dụng, bị lỗi từ nhà sản xuất, nhận không đúng với tên sản phẩm khách hàng đã đặt: chúng tôi sẽ chịu phí liên quan đến đổi trả gồm chi phí vận chuyển cho hàng quay đầu lại kho và chi phí vẩn chuyển hàng mới cho khách hàng.<br>
                            - Sản phẩm đổi trả do khách hàng muốn trả lại không do lỗi từ nhà sản xuất và phân phối, khách hàng sẽ phải chịu toàn bộ chi phí liên quan đến vận chuyển. chúng tôi sẽ hoàn tiền, điều kiện hoàn tiền chi tiết ở mục IV.<br>
                            - Sản phẩm đổi trả do bị nghi gây ra 1 số tác dụng phụ ngoài mong muốn: chúng tôi sẽ chịu phí vận chuyển trả lại hàng và nhận hàng trả và hoàn lại tiền theo đúng tiêu chuẩn hàng được đổi trả ở mục I và chi tiết ở mục IV.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="index-guide">IV</div>
                    <div class="info-step">
                        <h3 class="title-guide">Quy định hoàn tiền</h3>
                        <div class="group-pice">
                            <p class="name-pice">1. Nguyên tắc hoàn tiền</p>
                            <div class="lead-guide">- Hoàn tiền được thực hiện khi khách hàng đã thanh toán cho Hoạt huyết – Nhất Nhất 3 nhưng sau đó phát sinh các vấn đề: hết hàng hoặc khách hàng đã nhận hàng nhưng có yêu cầu đổi, trả sản phẩm theo quy định.<br>
                                - Không áp dụng đối với các yêu cầu hoàn tiền dưới 1.000 Đồng.</div>
                        </div>
                        <div class="group-pice">
                            <p class="name-pice">2. Phương thức hoàn tiền</p>
                            <p>- Hoàn tiền thông qua chuyển khoản ngân hàng/ đối tác cổng thanh toán.<br>
                                - Hoàn tiền mặt tại trụ sở chính của công ty.</p>
                        </div>
                        <div class="group-pice">
                            <p class="name-pice">3. Thời gian xử lý</p>
                            <p>- Chúng tôi sẽ phản hồi khách hàng trong vòng 24h sau khi nhận được thông tin phản ánh về hàng đổi trả và xử lý trong vòng 72h với các đơn hàng được xác nhận sẽ đổi trả tính từ thời điểm nhận được thông tin.<br>
                                - Các trường hợp hoàn tiền theo giai đoạn sau dùng thuốc: chúng tôi sẽ xử lý theo từng trường hợp theo khách hàng cụ thể.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
<div id="back-to-top"></div>
