<main>
    <div class="container-fluid">
        <div class="row box-info-effect">
            <div class="container ">
                <div class="row">
                    <div class="title-effect w-100">
                        <p>
                            <span>Bệnh răng miệng</span> gây ra <span>đau đớn</span> và <span>cảnh báo</span>
                            nhiều nguy hiểm về sức khỏe
                        </p>
                        <div class="des-effect">
                            Theo Viện Răng hàm mặt Trung Ương, Việt Nam có trên 90% dân số mắc các bệnh về răng miệng, trong đó
                        </div>
                    </div>
                </div>
                <div class="row list-item-effect">
                    <div class="item-effect">
                        <div class="main-effect w-100 h-100">
                            <span class="icon-eff icon-eff-1"></span>
                            <div class="top-effect">
                                VIÊM LỢI, VIÊM NHA CHU
                            </div>
                            <div class="h-50"></div>
                            <div class="content-effect">
                                <span>90% người lớn bị các bệnh viêm lợi, viêm quanh răng với biểu hiện:</span>
                                sưng lợi, tụt lợi, đau nhức, khó chịu. Chảy máu chân răng, răng lung lay, hơi thở hôi
                            </div>
                        </div>
                    </div>
                    <div class="item-effect">
                        <span class="icon-eff icon-eff-2"></span>
                        <div class="top-effect">
                            SÂU RĂNG, MÒN MEN RĂNG
                        </div>
                        <div class="h-50"></div>
                        <div class="content-effect">
                            <span>75% dân số bị sâu răng khiến:</span>
                            răng nhạy cảm, ê buốt, đau nhói khi đánh răng, ăn nóng, lạnh, ngọt, chua
                        </div>
                    </div>
                    <div class="item-effect">
                        <span class="icon-eff icon-eff-3"></span>
                        <div class="top-effect">
                            NHIỆT MIỆNG
                        </div>
                        <div class="h-50"></div>
                        <div class="content-effect">
                            <span>Nhiệt miệng thường xuyên gây:</span>
                            loét, rộp ở miệng, lưỡi, nướu gây đau, rát xót nhất là khi ăn uống nói chuyện
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="rs bottom-text-effect w-100 text-center">
                        Nước súc miệng thông thường chỉ làm sạch, không có tác dụng điều trị bệnh răng miệng
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row slogan-page">
            <div class="container">
                <div class="row detail-slogan-page">
                    <div class="main-slogan">
                        <p class="rs">
                           Chỉ nước ngậm răng miệng bào chế theo <br/>
                            <span>Phương pháp Ngự Y Mật Phương</span> tại <span>Nhà máy Dược Phẩm Nhất Nhất</span>
                        </p>
                    </div>
                    <div class="bottom-slogan-page">Mới mang lại &nbsp;<span>hiệu quả vượt trội</span>&nbsp; trên các &nbsp;<span>bệnh về răng miệng </span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-color-1 box-info-1">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme" id="slide-1">
                    <div class="item">
                        <img alt="Răng Miệng Nhất Nhất" class="owl-lazy" width="627" height="539"  data-src="assets/images/img-nymp.jpg"/>
                        <div class="info-detail">Ngự y Mật Phương</div>
                    </div>
                    <div class="item">
                        <img alt="Răng Miệng Nhất Nhất" class="owl-lazy" width="627" height="539" data-src="assets/images/nhamay1.jpg"/>
                        <div class="info-detail">Nhà máy Nhất Nhất đạt giải vàng <br/>thương hiệu Quốc Gia</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row box-media">
            <div class="container" id="scroll-video">
                <h4 class="title-form-info"><span>Nước ngậm răng miệng </span> Nhất Nhất PLUS</h4>
                <div class="row box-info-user">
                    <div class="col-12 col-md-6 box-video-product">
                        <div class="row h-100" >
                            <div class="youtube-video" data-video-height="350" data-autodplay="1" data-video-id="j-vzlml9khk"></div>
                            <picture>
                                <source alt="Răng Miệng Nhất Nhất" width="375" height="111" class="lazy img-fluid m-auto" media="(max-width:512px)" srcset="assets/images/ytb-2-02mb.jpg">
                                <img width="570" height="169" alt="Răng Miệng Nhất Nhất" class="img-fluid lazy m-auto" data-original="assets/images/ytb-2-02.jpg"/>
                            </picture>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-info-order row flex-column">
                            <ul class="rs lst-info-product">
                                <li><span>Bào chế theo phương pháp Ngự Y Mật Phương </span></li>
                                <li><span>Sản phẩm của Nhà máy Dược phẩm Nhất Nhất – giải vàng chất lượng Quốc Gia</span></li>
                                <li><span>Nghiên cứu lâm sàng: 100% hết đau xót do nhiệt miệng sau 2 ngày </span></li>
                            </ul>
                            <div class="box-price-product">
                                <span class="img-product"><img src="assets/images/img-product1.png"/></span>
                                <div class="info-product">
                                    <div class="text-price-1">80.000</div>
                                    <div class="text-price-2">VND/HỘP<small>x120ml</small></div>
                                    <button class="btn-scroll btn-send-info">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-info-2">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="rs text-1"><span class="gilroy-bold">Nước ngậm răng miệng</span> Nhất Nhất PLUS</h2>
            </div>
            <div class="row detail-info">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row box-list-detail">
                        <ul class="rs lst-detail-info">
                            <li><span>Làm hết chảy máu chân răng,</span><span>Làm chắc răng, giúp hơi thở thơm mát</span></li>
                            <li><span>Làm lành rộp, loét, giảm đau xót</span><span>do nhiệt miệng nhanh chóng</span></li>
                            <li><span>Làm hết ê buốt, đau nhói răng</span><span>kể cả khi ăn nóng, lạnh, ngọt chua</span></li>
                            <li><span>Chống viêm, sát khuẩn trực tiếp </span><span>làm hết viêm lợi, viêm nha chu</span></li>
                        </ul>
                        <a class="btn-muangay btn-scroll" href="#form-order-bottom">MUA NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-progress">
        <div class="container">
            <div class="row">
                <h4 class="rs title col-12 text-uppercase">Hiệu quả <span class="gilroy-bold">Cảm nhận rõ rệt</span></h4>
            </div>
            <div class="list-progress row">
                <div class="item-progress">
                    <span class="img">
                        <img alt="Răng Miệng Nhất Nhất" width="374" height="326" class="lazy" data-original="assets/images/img-item1.png"/>
                    </span>
                    <div class="main-item">
                        <div class="detail-progress">
                            <div class="detail-progress-2">
                                <div>
                                    <ul class="rs">
                                        <li class="text-descript">
                                            <span>Hết</span><span> đau </span><span>xót</span> do nhiệt miệng
                                        </li>
                                        <li class="text-descript">
                                            <span>Lành rộp loét</span> tại miệng, lưỡi, lợi
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-progress">
                        <span class="img">
                            <img alt="Răng Miệng Nhất Nhất" width="374" height="326" class="lazy" data-original="assets/images/img-item2.png"/>
                        </span>
                    <div class="main-item">
                        <div class="detail-progress">
                            <div class="detail-progress-2">
                                <ul class="rs">
                                    <li class="text-descript">
                                        <span>Hết chảy máu</span> chân răng
                                    </li>
                                    <li class="text-descript">
                                        <span>Giảm, hết viêm, sưng </span> lợi
                                    </li>
                                    <li class="text-descript">
                                        <span>Giảm đau nhức </span>, ê buốt do sâu răng
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-progress">
                        <span class="img">
                            <img alt="Răng Miệng Nhất Nhất" width="374" height="326" class="lazy" data-original="assets/images/img-item3.png"/>
                        </span>
                    <div class="main-item">
                        <div class="detail-progress">
                            <div class="detail-progress-2">
                                <ul class="rs">
                                    <li class="text-descript">
                                        <span>Hết viêm lợi</span>, viêm nha chu
                                    </li>
                                    <li class="text-descript">
                                        Giảm tụt lợi, giúp <span>khôi phục lợi khỏe mạnh</span>
                                    </li>
                                    <li class="text-descript">
                                        <span>Răng chắc khỏe</span>, hết nhạy cảm ê buốt
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="row text-bottom">
                <p class="top-1 rs">Theo ngự Y Mật Phương</p>
                <p class="rs">
                    Tuy chỉ hiệu quả với khoảng 90% các trường hợp, nhưng nếu hợp bạn sẽ hết hẳn đau xót do nhiệt miệng sau 2 ngày, giảm hẳn viêm lợi, chảy máu chân răng sau 4 – 5 ngày và hết viêm lợi, tụt lợi sau 1 tháng
                </p>
            </div>
            <a href="#" class="btn-order">Mua Ngay</a>
        </div>
    </div>
    <div class="container box-product-2">
        <div class="row">
            <div class="title-product w-100">
                <h2 class="rs top-title">Những ai nên sử dụng</h2>
                <h3 class="rs des-title"><span class="gilroy-bold">Nước ngậm răng miệng</span> Nhất Nhất PLUS</h3>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme" id="slide-2">
                <div class="swiper-slide" data-aos="zoom-in">
                    <img width="422" height="476" alt="Răng Miệng Nhất Nhất" class="owl-lazy"  data-src="assets/images/img-1.png"/>
                    <div class="content-product-2">
                        Người sử dụng rượu bia nhiều, ăn uống sinh hoạt không hợp lý,
                        <span class="text-red">nguy cơ bị viêm đại tràng cao</span>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="zoom-in" data-aos-duration="3000">
                    <img width="422" height="476" alt="Răng Miệng Nhất Nhất" class="owl-lazy" data-src="assets/images/img-2.png"/>
                    <div class="content-product-2">
                        Người đang có các triệu chứng
                        <span class="text-red">rối loạn tiêu hóa, đau bụng, sôi bụng, chướng bụng, ăn không tiêu, phân sống, tiêu chảy</span>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="zoom-in" data-aos-duration="5000">
                    <img width="422" height="476" alt="Răng Miệng Nhất Nhất" class="owl-lazy"  data-src="assets/images/img-3.png"/>
                    <div class="content-product-2">
                        Người bị <span class="text-red">viêm đại tràng</span> và
                        <span class="text-red">viêm đại tràng co thắt mãn tính</span> đã thử
                        nhiều biện pháp không hiệu quả
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box-comment">
        <div class="container">
            <h2 class="row title-comment">
                90% người dùng đạt <span class="text-uppercase gilroy-bold">hiệu quả</span> như mong đợi
            </h2>
            <div class="row  box-comment-desktop">
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Chị Nga" data-original="assets/images/img-avatar.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user gilroy-bold">Cô Thảo</div>
                        <div class="content-comment">
                            Cô Thảo lợi hay bị viêm và chảy dịch. Lợi tụt xuống làm lộ chân răng, thường xuyên bị viêm quanh răng gây đau buốt, lung lay.
                            Cô dùng nước ngậm răng miệng Nhất Nhất Plus được 5 ngày thì thấy lợi đỡ viêm và đỡ chảy dịch. Kiên trì sử dụng 1 tháng thấy lợi giảm hẳn viêm, răng cũng bớt lung lay.
                            Nhờ kiên trì ngậm Răng miệng Nhất Nhất Plus, răng lợi của cô Thảo đã phục hồi và chắc khoẻ hơn trước.
                        </div>
                    </div>
                </div>
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Bác Nam" data-original="assets/images/img-avatar-1.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user gilroy-bold">Bác Nam</div>
                        <div class="content-comment">
                            Bác Nam hay bị chảy máu chân răng mỗi khi đánh răng, dù đã thay đổi nhiều loại bàn chải nhưng không đỡ.
                            Hơi thở cũng có mùi dù bác vệ sinh răng miệng rất kỹ càng.
                            Chảy máu chân răng bắt đầu thuyên giảm khi dùng nước ngậm Răng Miệng Nhất Nhất Plus đến ngày thứ 2. Ngày thứ 4 trở đi là giảm rõ rệt, hầu như không thấy chân răng chảy máu nữa.
                            Hơi thở cũng thơm tho hơn do không còn bị chảy dịch quanh răng.
                        </div>
                    </div>
                </div>
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Anh Hoàng" data-original="assets/images/img-avatar-1.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user gilroy-bold">Anh Hoàng</div>
                        <div class="content-comment">
                            Anh Hoàng bị sâu răng cối, hàn rồi lại sâu gây đau đến mức ăn không ngon, ngủ không yên.
                            Anh không uống được thuốc giảm đau do đang bị đau dạ dày nên ngậm Nước ngậm răng miệng Nhất Nhất Plus. Ngậm đến ngày thứ 3 là thấy đỡ đau nhức, miệng cũng sạch thoáng.  Ngậm đến ngày thứ 7 thì anh thấy giảm hẳn đau. Nhờ dùng nước ngậm và vệ sinh răng miệng,
                            anh Hoàng đã giảm hẳn đau nhức do sâu răng mà không cần dùng tới thuốc giảm đau gây hại dạ dày nữa.
                        </div>
                    </div>
                </div>
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Chị Lan" data-original="assets/images/img-avatar.png"/></span>
                    <div class="detail-comment">
                        <div class="info-user gilroy-bold">Chị Lan</div>
                        <div class="content-comment">
                            Chị Lan đang có bầu 3 tháng, thường xuyên bị nhiệt miệng, viêm lợi.
                            sau khi sử dụng Răng miệng Nhất Nhất Plus đối với nhiệt miệng, các triệu chứng đau, rát, khó chịu khi tiếp xúc với thức ăn đã giảm sau 1-2 ngày sử dụng. Đối với viêm lợi, các triệu chứng bắt đầu thuyên giảm sau 1 tuần sử dụng và thuyên giảm rõ rệt sau 2 tuần sử dụng. Nhờ kết hợp vệ sinh răng miệng sạch sẽ,
                            sử dụng nước ngậm sau đánh răng mà chị A đã không phải dùng kháng sinh để điều trị các vấn đề về răng lợi nữa.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="owl-carousel owl-theme box-comment-mb" id="slide-comment-mb">
                    <div class="swiper-slide item-comment">
                        <span class="avatar-user"><img class="img-fluid owl-lazy" width="122" height="122" alt="Chị Nga" data-src="assets/images/img-avatar.png"/></span>
                        <div class="detail-comment">
                            <div class="info-user gilroy-bold">CHỊ NGA 38 TUỔI<br/> Viêm Đại Tràng Co Thắt</div>
                            <div class="content-comment">
                                Chị Nga làm việc ở công ty nước ngoài nên áp lực công việc cao, thường xuyên bị stress,
                                khiến chị bị viêm đại tràng co thắt, thường xuyên đau bụng và đi đại tiện phân lỏng.
                                Từ ngày uống Đại Tràng thì sau 1 tháng đã thấy hết hẳn triệu chứng óc ách bụng,
                                sau 3 tháng thì hết ngưng thuốc, hiện nay chị Nga ăn thức ăn lạ cũng không bị đau bụng đi phân lỏng nữa.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide item-comment">
                        <span class="avatar-user"><img class="img-fluid owl-lazy" width="122" height="122" alt="Bác Hùng" data-src="assets/images/img-avatar-1.png"/></span>
                        <div class="detail-comment">
                            <div class="info-user gilroy-bold">BÁC HÙNG 58 TUỔI <br/> Viêm Đại Tràng Mãn Tính</div>
                            <div class="content-comment">
                                Bác Hùng bị viêm đại tràng mãn tính, mỗi ngày đi đại tiện đến 3-4 lần,
                                người gầy yếu, sức đề kháng kém. Từ ngày uống Đại Tràng bác giảm hẳn tình trạng đi ngoài nhiều lần,
                                ăn uống tốt, người khỏe mạnh, tăng cân. Bác uống trong 3 tháng, đến nay đã dừng thuốc được 1 năm,
                                bệnh hoàn toàn ổn định và tăng được 6kg so với trước.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide item-comment">
                        <span class="avatar-user"><img class="img-fluid owl-lazy" width="122" height="122" alt="Bà Thùy" data-src="assets/images/img-avatar.png"/></span>
                        <div class="detail-comment">
                            <div class="info-user gilroy-bold">BÀ THÙY 65 TUỔI <br/>Viêm Đại Tràng</div>
                            <div class="content-comment">
                                Bà Thùy bị viêm đại tràng, cứ ăn đồ tanh là bị đau bụng đi ngoài,
                                và thường xuyên bị ậm ạch khó tiêu. Bà uống Đại Tràng được 2 tuần thì thấy tình trạng giảm hẳn,
                                duy trì đủ 3 tháng thì dừng thuốc. Hiện nay tình trạng của bà đã ổn định, tiêu hóa tốt,
                                ăn uống không còn phải kiêng khem khổ sở như trước nữa.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid box-slogan-bottom" id="form-order-bottom">
        <div class="container">
            <div class="row">
                <div class="top w-100">
                    <span class="gilroy-bold">Nước ngậm răng miệng</span> Nhất Nhất PLUS
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box-info-order">
        <div class="container">
            <div class="row main-order">
                <div class="col-12 col-sm-12 col-md-5 box-order-mb">
                    <div class="row" >
                        <form class="form-order w-100" id="form-order">
                            <h4 class="rs title">Thông tin đặt hàng</h4>
                            <div class="form-group w-100">
                                <input autocomplete="off" type="text" class="fullname" name="fullname" placeholder="Họ tên"/>
                            </div>
                            <div class="form-group w-100">
                                <input autocomplete="off" type="text" class="phone" name="phone" placeholder="Số điện thoại"/>
                            </div>
                            <div class="form-group w-100">
                                <input autocomplete="off" type="text" class="address" name="address" placeholder="Địa chỉ nhận hàng"/>
                            </div>
                            <div class="form-group mb-0 box-counter">
                                <label for="number-max">Số lượng (Hộp):</label>
                                <div class="counter-main">
                                    <input type="button" value="-" class="btn-action decrease" />
                                    <input type="text" class="input-number quantity" name="quantity"  id="number-max" value="1" />
                                    <input type="button" value="+" class="btn-action increase" />
                                    <div id="errmsg"></div>
                                </div>
                            </div>
                            <div class="form-group counter-bottom justify-content-between">
                                <label>Thành tiền</label>
                                <input id="total-order" class="box-cell-price" type="text" value="<?php echo $price; ?>"/>
                            </div>
                            <button class="btn-order">Mua ngay</button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7 box-order-mb">
                    <div class="row h-100 align-items-center">
                        <div class="box-product-order">
                            <div class="box-price">
                                <span>80.000</span>
                                <label>VNĐ/HỘP</label>
                                <p class="rs small-text">x 120ml</p>
                            </div>
                            <div class="box-brand">
                                <div class="freeship"><img width="365" height="120" alt="Răng Miệng Nhất Nhất" class="img-fluid lazy" data-original="assets/images/text-freeship.png"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>