<main>
    <div class="head-title">
        <div class="fixCen d-flex align-items-center">
            <h2 class="rs">Phương thức thanh toán</h2>
        </div>
    </div>
    <div class="fixCen">
        <div class="main-content">
            <div class="group-pice">
                <h3 class="rs name-pice">HOạT HUYếT – NHấT NHấT 3 HIỆN CÓ CÁC PHƯƠNG THỨC THANH TOÁN SAU:</h3>
                <p><strong>1. Thanh toán tiền mặt khi nhận hàng (COD):</strong> Nhận hàng và thanh toán trực tiếp với nhân viên giao hàng (Chỉ áp dụng cho đơn hàng có tổng trị giá từ 10.000.000đ trở xuống).</p>
                <p><strong>2. Thanh toán qua web của "Đối tác cổng thanh toán"</strong> được cấp phép hoạt động tại Việt Nam bằng các hình thức sau:</p>
                <ul class="ul list-default">
                    <li>Thẻ Visa, Master</li>
                    <li>QR Code</li>
                    <li>Internet banking</li>
                </ul>
                <p><strong>Các khiếu nại liên quan tới thanh toán:</strong> Hoạt huyết – Nhất Nhất 3 sẽ phối hợp cùng các bên đối tác thanh toán hoặc thu tiền COD để phối hợp giải quyết cùng khách hàng khi xảy ra sự cố không mong muốn.</p>
            </div>
        </div>
    </div>
</main>
<div id="back-to-top"></div>
