<main>
    <div class="head-title">
        <div class="fixCen d-flex align-items-center">
            <h2 class="rs">Phương thức vận chuyển</h2>
        </div>
    </div>
    <div class="fixCen">
        <div class="main-content">
            <div class="group-pice">
                <p class="name-pice">I. CÁC PHƯƠNG THỨC VẬN CHUYỂN</p>
                <ul class="ul list-default">
                    <li>Vận chuyển nội bộ</li>
                    <li>Vận chuyển qua đối tác vận chuyển: Viettel Post</li>
                </ul>
            </div>
            <div class="group-pice">
                <h3 class="rs name-pice">II. THỜI GIAN GIAO HÀNG</h3>
                <p>Chúng tôi sẽ chuyển sản phẩm theo địa chỉ khách hàng đăng ký khi mua hàng, thời gian giao hàng như sau</p>
                <ul class="ul list-default">
                    <li>Giao hàng 24h</li>
                    <li>Giao hàng tiêu chuẩn (3-5 ngày)</li>
                </ul>5478
            </div>
            <div class="group-pice">
                <h3 class="rs name-pice">III. CÁCH TÍNH CHI PHÍ VẬN CHUYỂN</h3>
                <p>Phí vận chuyển được tính phí tự động trên hệ thống khi khách hàng chốt đơn mua hàng dựa trên:</p>
                <ul class="ul list-default">
                    <li>Khối lượng và kích thước đóng gói của các sản phẩm trong đơn hàng</li>
                    <li>Khoảng cách địa lý giữa địa chỉ nhận hàng và kho của công ty</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<div id="back-to-top"></div>
