<main>
    <div class="head-title">
        <div class="fixCen d-flex align-items-center">
            <h2 class="rs">Chăm sóc sau bán</h2>
        </div>
    </div>
    <div class="fixCen">
        <div class="main-content">
            <h3 class="rs name-pice">1. Trách nhiệm của HOạT HUYếT – NHấT NHấT 3 TRONG VÀ SAU QUÁ TRÌNH SỬ DỤNG SẢN PHẨM</h3>
            <p><strong>Trong thời gian từ thời điểm bắt đầu cho đến khi dừng sử dụng sản phẩm nếu</strong></p>
            <ul class="ul list-default">
                <li>Khách hàng bị tác dụng phụ do sản phẩm nằm ngoài các triệu chứng đã nêu trong hướng dẫn sử dụng sản phẩm có kiểm chứng của bệnh viện theo chỉ định của Hoạt huyết – Nhất Nhất 3 hoặc theo thực trạng bệnh lý của bệnh nhân yêu cầu bệnh việc đáp ứng điều trị là do sản phẩm Hoạt huyết – Nhất Nhất 3 gây ra</li>
                <li>Sau khi sử dụng sản phẩm đã theo đúng hướng dẫn sử dụng nhưng không hiệu quả được kiểm định bởi bộ phận nghiên cứu lâm sàng của chúng tôi và các chuyên gia trong ngành</li>
            </ul>
            <p><strong>Chúng tôi sẽ hoàn toàn chịu trách nhiệm và chịu các chi phí liên quan gồm</strong></p>
            <ul class="ul list-default">
                <li>Hoàn tiền sản phẩm cho khách hàng.</li>
                <li>Chịu toàn bộ các chi phí liên quan tới khám và chữa bệnh tại cơ sở khám chữa bệnh do chúng tôi chỉ định.</li>
                <li>
                    <p>Lưu ý: chúng tôi sẽ xử lý theo từng trường hợp khách hàng cụ thể để đưa ra giải pháp.</p>
                </li>
            </ul>
            <h3 class="rs name-pice">2. Trách nhiệm của khách hàng</h3>
            <ul class="ul list-default">
                <li>Cung cấp trung thực và chính xác các thông tin liên quan tới quá trình sử dụng sản phẩm</li>
                <li>Nếu có bất kỳ thông tin thiếu chính xác, khách hàng chịu toàn bộ trách nhiệm và bồi thường cho Hoạt huyết – Nhất Nhất 3 theo quy định của Pháp luật.</li>
            </ul>
            <h3 class="rs name-pice">3. KÊNH LIÊN LẠC VỚI HOạT HUYếT – NHấT NHấT 3 ĐỂ PHẢN ÁNH CÁC VẤN ĐỀ VỀ THUỐC</h3>
            <ul class="ul list-default">
                <li>Qua website: <a href="https://nhatnhat3hoathuyet.com" target="_blank" title="HOạT HUYếT – NHấT NHấT 3">nhatnhat3hoathuyet.com</a></li>
                <li>Hotline: <a href="tel:0818122122" title="Hotline">0818 122 122</a></li>
                <li>Fanpage: Nhất Nhất 3 – Hoạt huyết Ngự Y Mật Phương</li>
            </ul>
        </div>
    </div>
</main>
<div id="back-to-top"></div>
