@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: "SVN-Gilroy Regular";
  src: url("../font/SVN-Gilroy-Regular.woff2"); }

@font-face {
  font-family: "SVN-Gilroy Medium";
  src: url("../font/SVN-Gilroy-Medium.woff2"); }

@font-face {
  font-family: "SVN-Gilroy Bold";
  src: url("../font/SVN-Gilroy-Bold.woff2"); }

.gilroy-bold {
  font-family: "SVN-Gilroy Bold"; }

.gilroy-medium {
  font-family: "SVN-Gilroy Medium"; }

/*set color main*/
/*end set color main*/
img {
  height: auto; }

a {
  text-decoration: none;
  transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }

.rs {
  padding: 0;
  margin: 0; }

input:focus {
  outline: none; }

ul li {
  list-style: none; }

button {
  border: none;
  transition: all 0.5s ease;
  cursor: pointer; }
  button:focus {
    outline: none; }

@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg); } }

@keyframes zoom {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

@keyframes fade {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }

@media only screen and (min-width: 768px) {
  .cell-mobile {
    display: none; } }

.cell-mobile {
  position: fixed;
  left: 0rem;
  bottom: 84px;
  clear: both;
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 9; }

.hotline-phone-ring-circle {
  width: 105px;
  height: 105px;
  top: -5px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5; }

@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1; }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5; }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1; } }

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg); } }

.cell-desktop .Asset_45, .cell-mobile .Asset_45 {
  width: 75px;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out; }

.error {
  font-size: 16px !important;
  color: red !important;
  text-transform: initial !important;
  font-family: "arial" !important;
  margin: 0 !important;
  padding: 0 10px !important; }

.error-bottom-mb {
  display: none; }

.hide-pc {
  display: none !important; }

@media only screen and (max-width: 768px) {
  .error {
    font-size: 12px !important;
    padding: 0 0 0 4px !important; }
    .error span {
      display: none; }
  .error-bottom-mb {
    display: block;
    padding: 0 15px !important; } }

footer {
  background: url("../images/bg-footer.jpg") 50% 0 no-repeat #6fdff8; }
  footer .main-footer {
    padding: 50px 0 200px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal; }
    footer .main-footer .top-footer {
      color: #2E3191;
      font-size: 15px; }
      footer .main-footer .top-footer .logo-ft {
        display: block;
        margin: 25px auto 15px;
        width: 380px;
        height: 83px; }
      footer .main-footer .top-footer .name-ft {
        font-size: 28px; }
      footer .main-footer .top-footer .add-ft {
        font-size: 21px; }
    footer .main-footer .bottom-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 25px; }
      footer .main-footer .bottom-footer .item-footer {
        display: inline-block;
        color: #2E3191;
        font-size: 15px; }
        footer .main-footer .bottom-footer .item-footer h5 {
          color: #2E3191;
          font-size: 24px;
          border-bottom: 2px solid #2E3191;
          padding-bottom: 5px;
          margin-bottom: 10px; }
        footer .main-footer .bottom-footer .item-footer a {
          color: #2E3191;
          font-size: 15px; }
          footer .main-footer .bottom-footer .item-footer a:hover {
            color: #6CB438; }
        footer .main-footer .bottom-footer .item-footer .list-link {
          list-style: none; }
        footer .main-footer .bottom-footer .item-footer .hotline {
          font-size: 30px; }
        footer .main-footer .bottom-footer .item-footer .list-method-pay {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap; }
          footer .main-footer .bottom-footer .item-footer .list-method-pay span {
            display: block;
            width: 167px;
            max-width: 49%;
            height: auto;
            margin-bottom: 10px; }
            footer .main-footer .bottom-footer .item-footer .list-method-pay span img {
              width: 100%; }
        footer .main-footer .bottom-footer .item-footer .list-contact {
          display: flex;
          flex-direction: column; }
      footer .main-footer .bottom-footer .col-footer-last {
        text-align: right; }

@media only screen and (max-width: 1024px) {
  footer .main-footer .bottom-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px; } }

@media (min-width: 320px) and (max-width: 767px) {
  footer .main-footer {
    padding: 24px 15px 100px;
    background: none; }
    footer .main-footer .top-footer .logo-ft {
      width: 229px;
      height: 49px;
      margin: 15px auto 10px; }
    footer .main-footer .top-footer .name-ft {
      font-size: 22px; }
    footer .main-footer .top-footer .add-ft {
      font-size: 12px; }
    footer .main-footer .bottom-footer .col-footer-last {
      text-align: left; }
    footer .main-footer .bottom-footer .item-footer {
      margin-bottom: 15px; }
      footer .main-footer .bottom-footer .item-footer h5 {
        text-align: center !important;
        font-size: 18px; }
      footer .main-footer .bottom-footer .item-footer .hotline {
        font-size: 24px;
        line-height: 1; }
      footer .main-footer .bottom-footer .item-footer .list-contact {
        display: flex;
        flex-direction: column;
        text-align: center !important; }
      footer .main-footer .bottom-footer .item-footer .list-method-pay {
        justify-content: center; }
        footer .main-footer .bottom-footer .item-footer .list-method-pay span {
          width: 49%;
          height: 40px;
          margin-right: 2%; }
          footer .main-footer .bottom-footer .item-footer .list-method-pay span:nth-child(even) {
            margin-right: 0; } }

@media only screen and (max-width: 512px) {
  footer .main-footer .top-footer {
    font-size: 12px;
    padding: 0 15px; }
    footer .main-footer .top-footer .name-ft {
      font-size: 14px; }
    footer .main-footer .top-footer .add-ft {
      font-size: 10px; }
  footer .main-footer .bottom-footer .item-footer h5 {
    font-size: 13px; }
  footer .main-footer .bottom-footer .item-footer a {
    font-size: 12px; }
  footer .main-footer .bottom-footer .item-footer .list-method-pay {
    justify-content: center; }
    footer .main-footer .bottom-footer .item-footer .list-method-pay span {
      height: 36px;
      margin-bottom: 5px; } }

/*set color main*/
/*end set color main*/
.box-ads-header {
  display: block;
  width: 100%;
  height: 93px;
  background-color: #053D9B;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  transition: all 0.5s ease; }
  .box-ads-header.close-ads {
    opacity: 0; }
  .box-ads-header .inner-ads-header {
    display: flex;
    position: relative; }
    .box-ads-header .inner-ads-header .ads-form {
      padding: 20px 0; }
      .box-ads-header .inner-ads-header .ads-form .form-group {
        padding: 0 10px; }
      .box-ads-header .inner-ads-header .ads-form input {
        width: 100%;
        height: 50px;
        border-radius: 25px;
        border: none;
        padding: 0 15px;
        font-size: 22px;
        color: #053D9B; }
        .box-ads-header .inner-ads-header .ads-form input::placeholder {
          color: #053D9B; }
      .box-ads-header .inner-ads-header .ads-form .btn-send-info {
        margin-left: 12px;
        margin-right: 35px;
        width: 253px;
        max-width: 100%;
        height: 50px;
        background-color: #E74522;
        color: #ffffff;
        font-size: 27px;
        border-radius: 25px;
        text-transform: uppercase;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center; }
        .box-ads-header .inner-ads-header .ads-form .btn-send-info:focus {
          outline: none; }
        .box-ads-header .inner-ads-header .ads-form .btn-send-info:hover {
          background-color: #00B9FF;
          color: #ffffff; }
    .box-ads-header .inner-ads-header .btn-close {
      display: block;
      background: url("../images/btn-close.png") 0/100% no-repeat;
      width: 33px;
      height: 33px;
      position: absolute;
      right: 0;
      top: -16px;
      z-index: 9; }
    .box-ads-header .inner-ads-header .box-images-ads {
      position: relative; }
      .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: auto;
        overflow: hidden;
        bottom: 0;
        left: 0; }
        .box-ads-header .inner-ads-header .box-images-ads .img-product-ads img {
          width: 100%;
          height: auto; }
    .box-ads-header .inner-ads-header .text-freeship {
      margin-top: -45px;
      padding-right: 35px; }
      .box-ads-header .inner-ads-header .text-freeship span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        height: 45px;
        background-color: #00B9FF;
        color: #ffffff;
        border-radius: 76px 76px 0 0;
        padding: 0 20px; }
        .box-ads-header .inner-ads-header .text-freeship span br {
          display: none; }
      .box-ads-header .inner-ads-header .text-freeship .text-2 {
        flex: 1; }

@media only screen and (max-width: 1366px) {
  .box-ads-header {
    height: auto; }
    .box-ads-header .inner-ads-header {
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0; }
      .box-ads-header .inner-ads-header .ads-form .btn-send-info {
        font-size: 20px; }
      .box-ads-header .inner-ads-header .text-freeship span {
        font-size: 18px; }
      .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
        justify-content: flex-end; } }

@media only screen and (max-width: 1023px) {
  .box-ads-header .inner-ads-header .text-freeship span {
    font-size: 14px;
    padding: 0 10px; } }

@media only screen and (max-width: 767px) {
  .box-ads-header .inner-ads-header {
    padding: 0; }
    .box-ads-header .inner-ads-header .ads-form .btn-send-info {
      width: 200px;
      height: 50px;
      font-size: 11px;
      margin: 4px auto 0;
      border-radius: 8px; }
    .box-ads-header .inner-ads-header .ads-form .form-group {
      width: 100% !important;
      margin-bottom: 4px; }
    .box-ads-header .inner-ads-header .ads-form input {
      height: 23px;
      font-size: 16px; }
    .box-ads-header .inner-ads-header .text-freeship {
      margin-top: -41px; }
      .box-ads-header .inner-ads-header .text-freeship .text-1 {
        display: none; }
      .box-ads-header .inner-ads-header .text-freeship span {
        height: 41px; }
    .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
      justify-content: flex-end; } }

@media only screen and (max-width: 575px) {
  .box-ads-header {
    background: url("../images/bg-ads-mb.jpg") 0/100% #053d9c no-repeat;
    width: 100%;
    min-height: 105px;
    background-position: top center;
    padding: 0; }
    .box-ads-header .inner-ads-header .btn-close {
      display: block;
      right: 15px;
      top: -11px;
      left: auto;
      width: 25px;
      height: 25px; }
    .box-ads-header .inner-ads-header .ads-form {
      padding: 4px 15px 0 0; }
      .box-ads-header .inner-ads-header .ads-form .btn-send-info {
        font-size: 11px; }
      .box-ads-header .inner-ads-header .ads-form .form-group {
        padding: 0 10px 0 0; }
    .box-ads-header .inner-ads-header .text-freeship {
      margin-top: 0; }
      .box-ads-header .inner-ads-header .text-freeship span {
        height: 11vw;
        background-color: transparent;
        font-size: 15px;
        line-height: 16px;
        text-align: center; }
        .box-ads-header .inner-ads-header .text-freeship span br {
          display: block; }
    .box-ads-header .error {
      padding-left: 33% !important; } }

@media only screen and (max-width: 374px) {
  .box-ads-header .inner-ads-header .ads-form input {
    font-size: 14px; }
  .box-ads-header .inner-ads-header .text-freeship span {
    font-size: 12px; } }

.modal {
  color: #04226e;
  font-family: 'Tahoma', sans-serif; }
  .modal .close {
    color: #04226e;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -15px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none; }
    .modal .close:hover {
      color: #ffffff !important;
      opacity: 1 !important;
      background-color: #04226e; }
  .modal .modal-dialog {
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 96%; }
  .modal .modal-content {
    border: none;
    font-size: 21px;
    border-radius: 20px;
    overflow: hidden; }
    .modal .modal-content .title-1 {
      font-size: 36px;
      margin-bottom: 4px; }
    .modal .modal-content p {
      font-weight: 300; }
    .modal .modal-content .content {
      margin-top: 10px;
      font-weight: 300; }
  .modal .modal-header {
    background-color: #2e3190;
    padding: 4px 10px;
    position: relative; }
    .modal .modal-header .modal-title {
      font-size: 36px;
      color: #ffffff;
      font-weight: bold; }
  .modal .modal-footer button {
    padding: 6px 15px;
    border-radius: 20px; }
  .modal .modal-footer .btn-continue {
    background-color: #2e3190;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px; }
    .modal .modal-footer .btn-continue:hover {
      background-color: #04226e; }
  .modal .modal-footer .btn-back {
    background-color: transparent;
    color: #04226e;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center; }
    .modal .modal-footer .btn-back:before {
      display: block;
      content: "";
      background: url("../images/previous-01.png") 0/100% no-repeat;
      width: 21px;
      height: 21px;
      margin-right: 8px; }
  .modal.modal-notif .modal-dialog {
    width: 450px; }
    .modal.modal-notif .modal-dialog .modal-content {
      height: 150px; }
  @media only screen and (max-width: 767px) {
    .modal .modal-header .modal-title {
      font-size: 24px; }
    .modal .modal-content {
      font-size: 16px; }
      .modal .modal-content .title-1 {
        font-size: 20px; }
    .modal .modal-footer .btn-continue {
      font-size: 16px; } }

.loading {
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.donut {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(46, 49, 144, 0.3);
  border-top-color: #2E3190;
  animation: 1.5s spin infinite linear; }
  .donut.multi {
    border-bottom-color: #2E3190; }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

.fixCen {
  width: 1366px;
  position: relative;
  height: 100%;
  margin: 0 auto; }

.text-main1 {
  color: #050B5A;
  font-weight: bold; }

.box-color-1 {
  background-color: #ffffff; }

.box-color-2 {
  background-color: #6CB438; }

.box-color-3 {
  background-color: #050B5A; }

.box-color-4 {
  background-color: #F8C9D0; }

.mb-custom-box {
  margin-bottom: -37px; }

.hide-desktop {
  display: none; }

.swiper-button-prev, .swiper-button-next {
  display: none; }

.wrapper-landing {
  width: 100%;
  overflow: hidden;
  font-family: "SVN-Gilroy Regular";
  color: #050B5A;
  line-height: 1.5; }
  @media only screen and (max-width: 768px) {
    .wrapper-landing {
      padding-top: 65px; } }
  .wrapper-landing header .header {
    width: 100%;
    height: 103px;
    position: absolute;
    top: 0;
    z-index: 9; }
    .wrapper-landing header .header .inner-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
    .wrapper-landing header .header .logo {
      display: block;
      width: 304px;
      height: 60px; }
      .wrapper-landing header .header .logo img {
        width: 100%;
        height: auto;
        display: block; }
  .wrapper-landing header .banner-header {
    position: relative; }
    .wrapper-landing header .banner-header img {
      display: block;
      width: 100%;
      max-width: 1920px;
      margin: 0 auto; }
    .wrapper-landing header .banner-header .main-banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 200px; }
  @media only screen and (max-width: 768px) {
    .wrapper-landing header .header {
      height: 65px;
      position: absolute;
      top: 0;
      z-index: 9;
      padding-top: 0;
      background-color: #ffffff; }
      .wrapper-landing header .header .inner-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; }
      .wrapper-landing header .header .logo {
        width: 167px;
        height: 30px; }
      .wrapper-landing header .header .box-right-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        .wrapper-landing header .header .box-right-header .btn-buy {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 260px;
          height: 40px;
          background-color: #050B5A;
          color: #ffffff;
          border-radius: 20px;
          font-size: 26px;
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 16px; }
          .wrapper-landing header .header .box-right-header .btn-buy:hover {
            color: #ffffff;
            background-color: #6CB438;
            letter-spacing: 1.2px; }
        .wrapper-landing header .header .box-right-header .box-support {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          color: #050B5A;
          font-weight: bold;
          font-size: 20px; }
          .wrapper-landing header .header .box-right-header .box-support .hotline {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 260px;
            height: 40px;
            color: #ffffff;
            background-color: #050B5A;
            border-radius: 19px;
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 1.5px;
            margin: 0 15px;
            line-height: 1;
            position: relative; }
            .wrapper-landing header .header .box-right-header .box-support .hotline:hover {
              background-color: #6CB438; }
            .wrapper-landing header .header .box-right-header .box-support .hotline:before {
              display: inline-block;
              content: '';
              margin-right: 15px;
              background: url("../images/phone-call.png") 50% 50% no-repeat;
              width: 30px;
              height: 30px;
              animation: phonering-alo-circle-img-anim 1s infinite ease-in-out; } }
  .wrapper-landing main .box-info-1 {
    padding: 70px 0 47px; }
    .wrapper-landing main .box-info-1 .item {
      position: relative;
      margin-bottom: 15px; }
      .wrapper-landing main .box-info-1 .item img {
        width: 100%; }
    .wrapper-landing main .box-info-1 .info-detail {
      background-color: #0443AB;
      color: #ffffff;
      height: 116px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 27px;
      font-family: "SVN-Gilroy Medium"; }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-info-1 .info-detail {
        height: 80px;
        font-size: 20px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-info-1 {
        padding: 25px 35px; }
        .wrapper-landing main .box-info-1 .info-detail {
          height: 55px;
          font-size: 16px; } }
  .wrapper-landing main .box-info-2 {
    background: url("../images/bg-info-2.jpg") 50% 0 no-repeat #aeecf8;
    height: 940px;
    line-height: 1.4;
    padding: 80px 0; }
    .wrapper-landing main .box-info-2 .text-1 {
      font-size: 37px;
      color: #ffffff;
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: "SVN-Gilroy Medium"; }
    .wrapper-landing main .box-info-2 .detail-info {
      display: flex;
      justify-content: flex-end; }
    .wrapper-landing main .box-info-2 .box-list-detail {
      justify-content: flex-end; }
    .wrapper-landing main .box-info-2 .lst-detail-info {
      margin: 80px 0 0;
      width: 100%; }
      .wrapper-landing main .box-info-2 .lst-detail-info li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 15px 0 120px;
        height: 89px;
        background-color: #ffffff;
        border: 1px solid #BAFAFF;
        margin-bottom: 63px;
        position: relative;
        line-height: 1.2;
        font-size: 24px;
        color: #27309A;
        border-radius: 0 45px 45px 0;
        font-family: "SVN-Gilroy Medium"; }
        .wrapper-landing main .box-info-2 .lst-detail-info li:before {
          display: block;
          content: '';
          background: url("../images/like-1.png") 0/100% no-repeat;
          width: 119px;
          height: 122px;
          margin-right: 10px;
          position: absolute;
          top: -20px;
          left: 15px; }
        .wrapper-landing main .box-info-2 .lst-detail-info li:after {
          display: block;
          content: '';
          width: 168px;
          height: 163px;
          position: absolute;
          left: -120px;
          top: 50%;
          margin-top: -78px; }
        .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(1) {
          margin-left: -84px;
          margin-right: 84px; }
          .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(1):after {
            background: url("../images/img-vongtron1.png") 0/100% no-repeat; }
        .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(2):after {
          background: url("../images/img-vongtron2.png") 0/100% no-repeat; }
        .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(3):after {
          background: url("../images/img-vongtron3.png") 0/100% no-repeat; }
        .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(4) {
          margin-left: -84px;
          margin-right: 40px; }
          .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(4):after {
            background: url("../images/img-vongtron4.png") 0/100% no-repeat; }
    .wrapper-landing main .box-info-2 .btn-muangay {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 50px;
      background-color: #E74522;
      border-radius: 25px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 27px;
      font-family: "UTM Avo",sans-serif;
      line-height: 1;
      margin: 0 auto; }
    @media only screen and (max-width: 1365px) {
      .wrapper-landing main .box-info-2 .lst-detail-info li {
        font-size: 20px; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-info-2 {
        background: url("../images/bg-info-2mb.jpg") 50% 100% no-repeat #04459f;
        background-size: 375px auto !important;
        height: auto;
        padding: 30px 0; }
        .wrapper-landing main .box-info-2 .text-1 span {
          display: block; }
        .wrapper-landing main .box-info-2 .detail-info {
          margin-bottom: 320px; }
          .wrapper-landing main .box-info-2 .detail-info .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%; }
        .wrapper-landing main .box-info-2 .lst-detail-info {
          margin: 40px 0 0;
          width: 100%; }
          .wrapper-landing main .box-info-2 .lst-detail-info li {
            padding: 0 15px 0 180px;
            margin-bottom: 10px;
            font-size: 24px;
            border-radius: 45px; }
            .wrapper-landing main .box-info-2 .lst-detail-info li:before {
              top: -20px;
              left: 75px; }
            .wrapper-landing main .box-info-2 .lst-detail-info li:after {
              display: block;
              content: '';
              width: 100px;
              height: 93px;
              position: absolute;
              left: -7px;
              top: 0;
              margin-top: 0; }
            .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(1) {
              margin-left: 0;
              margin-right: 0; }
            .wrapper-landing main .box-info-2 .lst-detail-info li:nth-child(4) {
              margin-left: 0;
              margin-right: 0; } }
    @media only screen and (max-width: 768px) {
      .wrapper-landing main .box-info-2 .lst-detail-info {
        margin: 40px 20px 0; }
        .wrapper-landing main .box-info-2 .lst-detail-info li {
          font-size: 18px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-info-2 {
        background-size: 375px auto !important;
        min-height: auto;
        padding: 10px 0; }
        .wrapper-landing main .box-info-2 .text-1 {
          font-size: 20px; }
        .wrapper-landing main .box-info-2 .btn-muangay {
          width: 135px;
          height: 29px;
          border: 2px solid #FF8D74;
          border-radius: 15px;
          font-size: 17px; }
        .wrapper-landing main .box-info-2 .lst-detail-info {
          margin: 10px 20px; }
          .wrapper-landing main .box-info-2 .lst-detail-info li {
            font-size: 15px;
            height: 71px;
            padding: 0 15px 0 75px; }
            .wrapper-landing main .box-info-2 .lst-detail-info li:before {
              width: 53px;
              height: 30px;
              top: 32px;
              left: 26px;
              z-index: 2; }
            .wrapper-landing main .box-info-2 .lst-detail-info li:after {
              width: 77px;
              height: 73px; } }
  .wrapper-landing main .box-info-3 {
    font-size: 28px;
    line-height: 1.2;
    padding: 16px 0 24px; }
    .wrapper-landing main .box-info-3 .box-info-3-top {
      justify-content: flex-end;
      margin-bottom: 10px; }
    .wrapper-landing main .box-info-3 .test-des-slogan {
      display: block;
      font-size: 33px;
      line-height: 1.2;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 20px;
      color: #2E3190; }
      .wrapper-landing main .box-info-3 .test-des-slogan br {
        display: none; }
      .wrapper-landing main .box-info-3 .test-des-slogan .group-text-nguyen {
        display: inline-flex;
        align-items: flex-start; }
        .wrapper-landing main .box-info-3 .test-des-slogan .group-text-nguyen .text-nguyen {
          display: inline-block;
          background: url("../images/text-nguyen.png") 0/100% no-repeat;
          width: 175px;
          height: 115px;
          margin-top: -15px;
          margin-left: 8px; }
    .wrapper-landing main .box-info-3 .img-company {
      margin-top: 30px;
      margin-bottom: 30px; }
    .wrapper-landing main .box-info-3 .text-des-1 {
      padding-right: 30px; }
      .wrapper-landing main .box-info-3 .text-des-1 p {
        margin-bottom: 30px; }
    .wrapper-landing main .box-info-3 .box-descript-3 {
      align-items: flex-end;
      margin-bottom: 24px; }
      .wrapper-landing main .box-info-3 .box-descript-3 .img-sloan-511 {
        max-width: 495px;
        width: 90%; }
    .wrapper-landing main .box-info-3 .box-descript-3a {
      flex-direction: column;
      justify-content: space-between; }
    @media only screen and (max-width: 1024px) {
      .wrapper-landing main .box-info-3 {
        font-size: 24px; }
        .wrapper-landing main .box-info-3 .test-des-slogan {
          font-size: 28px; } }
    @media only screen and (max-width: 768px) {
      .wrapper-landing main .box-info-3 {
        font-size: 20px; }
        .wrapper-landing main .box-info-3 .test-des-slogan .group-text-nguyen .text-nguyen {
          width: 150px;
          height: 100px;
          margin-top: -15px;
          margin-left: 8px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-info-3 {
        font-size: 16px;
        padding: 15px 45px; }
        .wrapper-landing main .box-info-3 .test-des-slogan {
          font-size: 16px; }
          .wrapper-landing main .box-info-3 .test-des-slogan br {
            display: block; }
          .wrapper-landing main .box-info-3 .test-des-slogan:before {
            display: block;
            content: '';
            background: url("../images/icon-06.png") 0/100% no-repeat;
            width: 36px;
            height: 38px; }
          .wrapper-landing main .box-info-3 .test-des-slogan .group-text-nguyen .text-nguyen {
            width: 90px;
            height: 65px;
            margin-top: -10px;
            margin-left: 4px; }
        .wrapper-landing main .box-info-3 .box-descript-3a {
          display: flex;
          flex-direction: row;
          margin-bottom: 16px; }
          .wrapper-landing main .box-info-3 .box-descript-3a .test-des-slogan {
            width: 50%; }
          .wrapper-landing main .box-info-3 .box-descript-3a picture {
            width: 50%; }
            .wrapper-landing main .box-info-3 .box-descript-3a picture .img-fluid {
              width: 100%; }
        .wrapper-landing main .box-info-3 .box-info-3-top .text-info-3 {
          font-size: 21px;
          color: #2E3190;
          font-family: 'UTM Avo Bold',sans-serif;
          text-align: center; }
        .wrapper-landing main .box-info-3 .text-des-1 {
          padding-right: 0; } }
    @media only screen and (max-width: 414px) {
      .wrapper-landing main .box-info-3 .test-des-slogan {
        font-size: 15px; }
        .wrapper-landing main .box-info-3 .test-des-slogan .group-text-nguyen .text-nguyen {
          width: 66px;
          height: 44px;
          margin-top: -4px;
          margin-left: 4px; } }
  .wrapper-landing main .slogan-page {
    background: url("../images/bg-2.jpg") 50% 0 no-repeat;
    height: 240px; }
    .wrapper-landing main .slogan-page .detail-slogan-page {
      color: #ffffff;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 34px;
        font-family: "SVN-Gilroy Medium";
        line-height: 1.4;
        margin-bottom: 15px; }
        .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan span {
          font-family: "SVN-Gilroy Bold"; }
        .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan p:before {
          display: none;
          content: '';
          background: url("../images/icon-07.png") 0/100% no-repeat;
          width: 24px;
          height: 25px;
          margin-right: 16px; }
      .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page {
        text-align: center;
        width: 100%;
        height: 54px;
        background-color: #EF413D;
        border-radius: 0 0 45px 45px;
        font-size: 30px;
        font-weight: 500; }
        .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page span {
          font-family: "SVN-Gilroy Bold"; }
        .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page br {
          display: none; }
    @media only screen and (max-width: 1200px) {
      .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan {
        font-size: 36px; }
      .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page {
        height: 54px;
        font-size: 24px; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan {
        font-size: 28px; }
      .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page {
        font-size: 18px; } }
    @media only screen and (max-width: 767px) {
      .wrapper-landing main .slogan-page {
        background: none;
        height: auto; }
        .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan {
          background: url("../images/bg-2mb.jpg") 50% 0 repeat;
          height: auto;
          font-size: 20px;
          padding: 15px;
          font-weight: normal;
          margin-bottom: 0; }
        .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page {
          height: auto;
          padding: 10px 15px;
          font-size: 14px;
          line-height: 1.2;
          text-align: center; } }
    @media only screen and (max-width: 539px) {
      .wrapper-landing main .slogan-page {
        height: 120px;
        margin-bottom: 25px; }
        .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan {
          font-size: 16px;
          padding: 15px 15px; }
          .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan p:before {
            width: 7px;
            height: 7px;
            margin-right: 4px;
            margin-top: -5px; }
          .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan p .break-mb {
            display: block; }
        .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page {
          font-size: 15px;
          padding: 4px 25px; }
          .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page br {
            display: block; } }
    @media only screen and (max-width: 359px) {
      .wrapper-landing main .slogan-page .detail-slogan-page .main-slogan {
        font-size: 14px; }
      .wrapper-landing main .slogan-page .detail-slogan-page .bottom-slogan-page {
        font-size: 13px; } }
  .wrapper-landing main .box-product-2 {
    padding-top: 30px;
    padding-bottom: 30px; }
    .wrapper-landing main .box-product-2 .title-product {
      text-align: center;
      font-family: 'UTM Avo',sans-serif;
      line-height: 1.4;
      color: #2E3190;
      margin-bottom: 30px; }
      .wrapper-landing main .box-product-2 .title-product .top-title {
        font-size: 59px; }
      .wrapper-landing main .box-product-2 .title-product .des-title {
        font-size: 36px; }
    .wrapper-landing main .box-product-2 .swiper-container {
      margin: 24px 0;
      width: 100%; }
    .wrapper-landing main .box-product-2 .swiper-slide {
      position: relative; }
      .wrapper-landing main .box-product-2 .swiper-slide img {
        width: 100%; }
      .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
        width: 70%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        color: #050B5A;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500; }
        .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 .text-red {
          color: #FF4527; }
    @media only screen and (width: 1024px) {
      .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
        padding: 30px; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-product-2 .title-product .top-title {
        font-size: 45px; }
      .wrapper-landing main .box-product-2 .title-product .des-title {
        font-size: 26px; }
      .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
        font-size: 20px; } }
    @media only screen and (max-width: 767px) {
      .wrapper-landing main .box-product-2 .title-product .top-title {
        font-size: 32px; }
      .wrapper-landing main .box-product-2 .title-product .des-title {
        font-size: 20px; }
      .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
        font-size: 15px;
        padding: 20px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-product-2 {
        padding: 30px; }
        .wrapper-landing main .box-product-2 .title-product .top-title {
          font-size: 22px; }
        .wrapper-landing main .box-product-2 .title-product .des-title {
          font-size: 16px; }
        .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
          font-size: 18px;
          padding: 30px; } }
    @media only screen and (max-width: 539px) {
      .wrapper-landing main .box-product-2 .title-product .top-title {
        font-size: 22px; }
      .wrapper-landing main .box-product-2 .title-product .des-title {
        font-size: 16px; }
      .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
        font-size: 16px;
        padding: 30px 20px; } }
  .wrapper-landing main .box-media {
    background: url("../images/bg-media.jpg") 50% 100% no-repeat;
    padding-top: 30px; }
    .wrapper-landing main .box-media .title-form-info {
      color: #0443AB;
      font-size: 37px;
      margin-bottom: 12px;
      text-align: center;
      font-family: "SVN-Gilroy Medium";
      text-transform: uppercase; }
      .wrapper-landing main .box-media .title-form-info span {
        font-family: "SVN-Gilroy Bold"; }
    .wrapper-landing main .box-media .box-info-user {
      display: flex;
      align-items: flex-start;
      padding: 30px 0; }
      .wrapper-landing main .box-media .box-info-user .form-info-order {
        border-radius: 16px;
        padding-left: 15px; }
      .wrapper-landing main .box-media .box-info-user .btn-send-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 231px;
        height: 50px;
        background-color: #E74522;
        border-radius: 25px;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 32px;
        line-height: 1;
        font-family: "UTM Avo", sans-serif;
        margin-top: 9px;
        animation: zoom 1s infinite; }
      .wrapper-landing main .box-media .box-info-user .lst-info-product {
        padding: 0;
        counter-reset: section;
        margin-bottom: 35px; }
        .wrapper-landing main .box-media .box-info-user .lst-info-product li {
          display: flex;
          align-items: center;
          background-color: #0443AB;
          height: 79px;
          border-radius: 40px;
          margin-bottom: 20px;
          padding: 3px; }
          .wrapper-landing main .box-media .box-info-user .lst-info-product li:before {
            counter-increment: section;
            content: counter(section);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 73px;
            height: 74px;
            border-radius: 50%;
            background-color: #ffffff;
            color: #0443AB;
            font-size: 49px;
            font-family: "SVN-Gilroy Medium";
            margin-right: 15px; }
          .wrapper-landing main .box-media .box-info-user .lst-info-product li span {
            flex: 1;
            display: block;
            color: #ffffff;
            font-size: 20px;
            line-height: 30px;
            font-family: "SVN-Gilroy Medium"; }
      .wrapper-landing main .box-media .box-info-user .box-price-product {
        display: flex;
        align-items: center; }
        .wrapper-landing main .box-media .box-info-user .box-price-product .img-product {
          display: block;
          width: 45%; }
          .wrapper-landing main .box-media .box-info-user .box-price-product .img-product img {
            width: 100%;
            height: auto; }
        .wrapper-landing main .box-media .box-info-user .box-price-product .info-product {
          width: 55%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          color: #0443AB; }
          .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-1 {
            font-family: "SVN-Gilroy Bold";
            font-size: 100px;
            line-height: 1;
            margin-bottom: -10px; }
          .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-2 {
            font-family: "SVN-Gilroy Bold";
            font-size: 49px;
            border-bottom: 2px solid #0443AB; }
            .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-2 small {
              font-family: "SVN-Gilroy Medium";
              font-size: 27px; }
    @media only screen and (max-width: 1365px) {
      .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-1 {
        font-size: 8vw;
        margin-bottom: 0; }
      .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-2 {
        font-size: 4vw; }
        .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-2 small {
          font-size: 2vw; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-media .title-form-info {
        font-size: 30px; }
      .wrapper-landing main .box-media .box-info-user .btn-send-info {
        width: 100%;
        font-size: 24px;
        margin-top: 9px; }
      .wrapper-landing main .box-media .box-info-user .lst-info-product li:before {
        font-size: 32px;
        margin-right: 8px; }
      .wrapper-landing main .box-media .box-info-user .lst-info-product li span {
        font-size: 14px;
        line-height: 20px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-media {
        padding: 0 35px; }
        .wrapper-landing main .box-media .title-form-info {
          font-size: 20px; }
          .wrapper-landing main .box-media .title-form-info span {
            display: block; }
        .wrapper-landing main .box-media .box-info-user {
          position: relative;
          padding: 0; }
          .wrapper-landing main .box-media .box-info-user .box-video-product {
            position: absolute; }
          .wrapper-landing main .box-media .box-info-user .form-info-order {
            margin: 0 -15px;
            padding-left: 0; }
          .wrapper-landing main .box-media .box-info-user .btn-send-info {
            width: 124px;
            height: 24px;
            font-size: 16px; }
          .wrapper-landing main .box-media .box-info-user .lst-info-product li {
            height: auto;
            border-radius: 9px;
            align-items: flex-start;
            margin-bottom: 8px;
            padding: 5px; }
            .wrapper-landing main .box-media .box-info-user .lst-info-product li:before {
              width: 20px;
              height: 20px;
              font-size: 16px;
              margin-right: 8px; }
            .wrapper-landing main .box-media .box-info-user .lst-info-product li span {
              font-size: 16px;
              line-height: 19px; }
          .wrapper-landing main .box-media .box-info-user .box-price-product {
            padding-bottom: 30px; }
            .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-1 {
              font-size: 47px;
              margin-bottom: -3px; }
            .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-2 {
              font-size: 20px; }
              .wrapper-landing main .box-media .box-info-user .box-price-product .info-product .text-price-2 small {
                font-size: 16px; } }
  .wrapper-landing main .box-info-effect {
    background: url("../images/bg-effect.jpg") 50% 100% no-repeat #fefefe;
    padding-top: 50px;
    padding-bottom: 50px; }
    .wrapper-landing main .box-info-effect .title-effect {
      font-size: 55px;
      color: #2E3190;
      text-align: center;
      line-height: 1.2; }
      .wrapper-landing main .box-info-effect .title-effect p {
        font-size: 32px;
        font-family: 'SVN-Gilroy Medium'; }
        .wrapper-landing main .box-info-effect .title-effect p span {
          font-family: 'SVN-Gilroy Bold'; }
      .wrapper-landing main .box-info-effect .title-effect .des-effect {
        font-size: 22px;
        background-color: #2568DA;
        border-radius: 25px;
        color: #ffffff;
        padding: 12px 15px;
        margin-top: 15px; }
    .wrapper-landing main .box-info-effect .list-item-effect {
      justify-content: space-between;
      padding-top: 50px;
      margin-bottom: 30px; }
    .wrapper-landing main .box-info-effect .icon-eff {
      display: block;
      width: 40%;
      height: 40%;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -20%;
      z-index: 2; }
    .wrapper-landing main .box-info-effect .icon-eff-1 {
      background: url("../images/icon-eff-1.png") 0/100% no-repeat; }
    .wrapper-landing main .box-info-effect .icon-eff-2 {
      background: url("../images/icon-eff-2.png") 0/100% no-repeat; }
    .wrapper-landing main .box-info-effect .icon-eff-3 {
      background: url("../images/icon-eff-3.png") 0/100% no-repeat; }
    .wrapper-landing main .box-info-effect .item-effect {
      width: 32%;
      background-color: #ffffff;
      border-radius: 50%;
      position: relative;
      color: #053D9B;
      overflow: hidden;
      box-shadow: 1px 1px 4px #707070; }
      .wrapper-landing main .box-info-effect .item-effect:before {
        content: "";
        width: 50%;
        height: 100%;
        float: left;
        shape-outside: polygon(0 0, 98% 0, 50% 6%, 23.4% 17.3%, 6% 32.6%, 0 50%, 6% 65.6%, 23.4% 82.7%, 50% 94%, 98% 100%, 0 100%);
        shape-margin: 3%; }
      .wrapper-landing main .box-info-effect .item-effect .main-effect:before {
        content: "";
        width: 50%;
        height: 100%;
        float: right;
        shape-outside: polygon(2% 0%, 100% 0%, 100% 100%, 2% 100%, 50% 94%, 76.6% 82.7%, 94% 65.6%, 100% 50%, 94% 32.6%, 76.6% 17.3%, 50% 6%);
        shape-margin: 3%; }
      .wrapper-landing main .box-info-effect .item-effect .top-effect {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 50%;
        font-size: 24px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #ffffff;
        padding-bottom: 8px;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'SVN-Gilroy Bold'; }
      .wrapper-landing main .box-info-effect .item-effect .descript-effect {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: #FA4326;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        margin: 8px 0 12px; }
      .wrapper-landing main .box-info-effect .item-effect .content-effect {
        padding: 0 20px 20px;
        font-size: 21px;
        line-height: 1.2;
        height: 50%;
        text-align: center; }
        .wrapper-landing main .box-info-effect .item-effect .content-effect span {
          color: #EF413D; }
      .wrapper-landing main .box-info-effect .item-effect:nth-child(1) .top-effect {
        background-color: #2568DA; }
      .wrapper-landing main .box-info-effect .item-effect:nth-child(2) .top-effect {
        background-color: #285CB5; }
      .wrapper-landing main .box-info-effect .item-effect:nth-child(3) .top-effect {
        background-color: #0443AB; }
    .wrapper-landing main .box-info-effect .bottom-text-effect {
      font-size: 27px;
      line-height: 1.2;
      color: #2E3190;
      font-weight: 500;
      position: relative; }
      .wrapper-landing main .box-info-effect .bottom-text-effect:before {
        display: none;
        content: '';
        background: url("../images/icon-06.png") 0/100% no-repeat;
        width: 53px;
        height: 53px;
        position: absolute;
        top: -25px;
        left: -60px; }
      .wrapper-landing main .box-info-effect .bottom-text-effect .text-red {
        color: #FF4527; }
    @media only screen and (max-width: 1200px) {
      .wrapper-landing main .box-info-effect .item-effect .top-effect {
        font-size: 20px; }
      .wrapper-landing main .box-info-effect .item-effect .descript-effect {
        font-size: 18px; }
      .wrapper-landing main .box-info-effect .item-effect .content-effect {
        padding: 0 15px 15px;
        font-size: 16px; }
      .wrapper-landing main .box-info-effect .bottom-text-effect {
        margin: 0 50px; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-info-effect .title-effect {
        font-size: 35px; }
      .wrapper-landing main .box-info-effect .item-effect .top-effect {
        font-size: 18px; }
      .wrapper-landing main .box-info-effect .item-effect .descript-effect {
        font-size: 14px; }
      .wrapper-landing main .box-info-effect .item-effect .content-effect {
        font-size: 15px; }
      .wrapper-landing main .box-info-effect .bottom-text-effect {
        font-size: 18px;
        margin: 0 25px; }
        .wrapper-landing main .box-info-effect .bottom-text-effect:before {
          width: 43px;
          height: 43px;
          left: -43px;
          top: -15px; } }
    @media only screen and (max-width: 767px) {
      .wrapper-landing main .box-info-effect .title-effect {
        font-size: 35px; }
      .wrapper-landing main .box-info-effect .list-item-effect {
        flex-wrap: wrap; }
      .wrapper-landing main .box-info-effect .item-effect {
        width: 100%;
        min-height: auto;
        margin-bottom: 90px; }
        .wrapper-landing main .box-info-effect .item-effect .top-effect {
          font-size: 24px; }
        .wrapper-landing main .box-info-effect .item-effect .descript-effect {
          font-size: 20px; }
        .wrapper-landing main .box-info-effect .item-effect .content-effect {
          font-size: 18px;
          padding: 0 30px 30px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-info-effect {
        padding: 15px 35px; }
        .wrapper-landing main .box-info-effect .title-effect p {
          font-size: 16px;
          padding: 0 30px; }
        .wrapper-landing main .box-info-effect .title-effect .des-effect {
          font-size: 16px;
          text-align: left;
          padding: 8px 12px;
          border-radius: 12px; }
        .wrapper-landing main .box-info-effect .list-item-effect {
          padding-top: 15px;
          margin-bottom: 0; }
        .wrapper-landing main .box-info-effect .item-effect {
          margin-bottom: 10px; }
          .wrapper-landing main .box-info-effect .item-effect .top-effect {
            font-size: 20px; }
            .wrapper-landing main .box-info-effect .item-effect .top-effect br {
              display: none; }
          .wrapper-landing main .box-info-effect .item-effect .descript-effect {
            height: 30px;
            font-size: 16px;
            font-weight: normal; }
          .wrapper-landing main .box-info-effect .item-effect .content-effect {
            font-size: 16px;
            padding: 0 15px 15px; }
        .wrapper-landing main .box-info-effect .bottom-text-effect {
          margin: 0 10px;
          font-size: 16px; }
          .wrapper-landing main .box-info-effect .bottom-text-effect:before {
            position: static; } }
  .wrapper-landing main .box-reason {
    background: url("../images/bg-des.jpg") 50% 0 no-repeat #afe7fa;
    min-height: 700px; }
    .wrapper-landing main .box-reason .box-detail-reason {
      justify-content: flex-end;
      padding: 50px 0;
      color: #050B5A;
      font-size: 28px;
      line-height: 1.3; }
      .wrapper-landing main .box-reason .box-detail-reason .title {
        width: 100%;
        line-height: 1.2;
        color: #2E3190;
        text-align: right;
        font-family: 'UTM Avo',sans-serif; }
        .wrapper-landing main .box-reason .box-detail-reason .title h4 {
          font-size: 50px;
          font-family: 'UTM Avo Bold',sans-serif; }
        .wrapper-landing main .box-reason .box-detail-reason .title span {
          font-size: 36px; }
      .wrapper-landing main .box-reason .box-detail-reason .des-reason {
        display: block;
        width: 100%;
        text-align: center;
        padding: 8px;
        font-style: italic;
        font-weight: 500;
        font-size: 30px;
        background-color: #ffffff;
        margin: 8px 0 30px;
        color: #2E3190; }
    @media only screen and (max-width: 1200px) {
      .wrapper-landing main .box-reason .box-detail-reason .title h4 {
        font-size: 40px; }
      .wrapper-landing main .box-reason .box-detail-reason .title span {
        font-size: 30px; }
      .wrapper-landing main .box-reason .box-detail-reason .des-reason {
        font-size: 22px; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-reason {
        min-height: auto; }
        .wrapper-landing main .box-reason .box-detail-reason {
          font-size: 20px; }
          .wrapper-landing main .box-reason .box-detail-reason .title h4 {
            font-size: 30px; }
          .wrapper-landing main .box-reason .box-detail-reason .title span {
            font-size: 20px; }
          .wrapper-landing main .box-reason .box-detail-reason .des-reason {
            font-size: 18px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-reason {
        background: url("../images/bg-des-mb.jpg") 50% 100% no-repeat #afe7fa;
        min-height: 527px; }
        .wrapper-landing main .box-reason .box-detail-reason {
          font-size: 16px;
          padding: 30px 15px; }
          .wrapper-landing main .box-reason .box-detail-reason p {
            margin-bottom: 220px; }
          .wrapper-landing main .box-reason .box-detail-reason .title {
            text-align: center; }
            .wrapper-landing main .box-reason .box-detail-reason .title h4 {
              font-size: 20px; }
            .wrapper-landing main .box-reason .box-detail-reason .title span {
              font-size: 18px; }
          .wrapper-landing main .box-reason .box-detail-reason .des-reason {
            font-size: 16px; } }
  .wrapper-landing main .box-progress {
    background: url("../images/bg-progess.jpg") 50% 0 no-repeat;
    height: auto;
    padding: 50px 0; }
    .wrapper-landing main .box-progress .title {
      font-size: 38px;
      color: #2E3190;
      text-align: center;
      font-family: "SVN-Gilroy Medium";
      margin-bottom: 24px; }
    .wrapper-landing main .box-progress .list-progress {
      justify-content: center; }
      .wrapper-landing main .box-progress .list-progress .item-progress {
        position: relative;
        width: 37%; }
        .wrapper-landing main .box-progress .list-progress .item-progress:nth-child(2) {
          margin: 0 -6%; }
        .wrapper-landing main .box-progress .list-progress .item-progress .img {
          display: block;
          width: 100%; }
          .wrapper-landing main .box-progress .list-progress .item-progress .img img {
            width: 100%;
            z-index: 2; }
        .wrapper-landing main .box-progress .list-progress .item-progress .main-item {
          font-size: 20px;
          line-height: 1.3;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 17%; }
          .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress {
            background-color: #ffffff;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            box-shadow: 2px 2px 4px #707070; }
            .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress:before {
              content: "";
              width: 50%;
              height: 100%;
              float: left;
              shape-outside: polygon(0 0, 98% 0, 50% 6%, 23.4% 17.3%, 6% 32.6%, 0 50%, 6% 65.6%, 23.4% 82.7%, 50% 94%, 98% 100%, 0 100%);
              shape-margin: 5%; }
            .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2 {
              width: 100%;
              height: 100%; }
              .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2:before {
                content: "";
                width: 50%;
                height: 100%;
                float: right;
                shape-outside: polygon(2% 0, 100% 0, 100% 100%, 2% 100%, 50% 94%, 76.6% 82.7%, 94% 65.6%, 100% 50%, 94% 32.6%, 76.6% 17.3%, 50% 6%);
                shape-margin: 5%; }
              .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2 ul {
                padding: 50px 20px; }
                .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2 ul li {
                  font-family: "SVN-Gilroy Medium";
                  margin-bottom: 8px;
                  color: #0443AB; }
                  .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2 ul li:before {
                    display: inline-block;
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: #0443AB;
                    border-radius: 50%;
                    margin-right: 8px; }
                  .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2 ul li span {
                    color: #EF413D;
                    font-family: "SVN-Gilroy Bold"; }
          .wrapper-landing main .box-progress .list-progress .item-progress .main-item .text-descript {
            color: #050B5A; }
    .wrapper-landing main .box-progress .text-bottom {
      padding: 10px 30px;
      color: #ffffff;
      background-color: #3c81ecb3;
      font-family: "SVN-Gilroy Medium";
      margin: 40px 0;
      font-size: 27px;
      position: relative; }
      .wrapper-landing main .box-progress .text-bottom:after {
        content: '';
        display: inline-block;
        background: url("../images/icon-04.png") 0/100% no-repeat;
        width: 46px;
        height: 40px;
        transform: rotate(180deg);
        position: absolute;
        right: 10px;
        bottom: 10px; }
      .wrapper-landing main .box-progress .text-bottom .top-1:before {
        content: '';
        display: inline-block;
        background: url("../images/icon-04.png") 0/100% no-repeat;
        width: 46px;
        height: 40px;
        margin-right: 4px; }
    .wrapper-landing main .box-progress .btn-order {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 50px;
      background-color: #E74522;
      border-radius: 25px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 27px;
      line-height: 1;
      cursor: pointer;
      transition: all .3s ease;
      margin: 0 auto; }
    @media only screen and (max-width: 1365px) {
      .wrapper-landing main .box-progress .list-progress .item-progress .main-item {
        font-size: 16px; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-progress .list-progress .item-progress .main-item {
        font-size: 13px; }
        .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2 ul {
          padding: 20px 15px; }
      .wrapper-landing main .box-progress .text-bottom {
        font-size: 20px; } }
    @media only screen and (max-width: 767px) {
      .wrapper-landing main .box-progress {
        background: url("../images/bg-progess-mb.jpg") 50% 0 no-repeat;
        padding: 30px 0; }
        .wrapper-landing main .box-progress .title {
          font-size: 34px; }
        .wrapper-landing main .box-progress .list-progress {
          flex-direction: column;
          padding: 0 35px; }
          .wrapper-landing main .box-progress .list-progress .item-progress {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center; }
            .wrapper-landing main .box-progress .list-progress .item-progress:nth-child(2) {
              margin: -16% 0; }
            .wrapper-landing main .box-progress .list-progress .item-progress .img {
              width: 100%;
              transform: rotate(90deg); }
              .wrapper-landing main .box-progress .list-progress .item-progress .img img {
                margin-left: 0; }
            .wrapper-landing main .box-progress .list-progress .item-progress .main-item .detail-progress .detail-progress-2 ul {
              padding: 50px; }
        .wrapper-landing main .box-progress .text-bottom {
          padding: 10px 30px;
          font-size: 16px;
          margin: 15px -15px; }
          .wrapper-landing main .box-progress .text-bottom:after {
            width: 30px;
            height: 30px; }
          .wrapper-landing main .box-progress .text-bottom .top-1:before {
            width: 30px;
            height: 30px; } }
    @media only screen and (max-width: 576px) {
      .wrapper-landing main .box-progress .title {
        font-size: 20px; }
      .wrapper-landing main .box-progress .btn-order {
        width: 124px;
        height: 24px;
        font-size: 16px; } }
  .wrapper-landing main .box-comment {
    background: url("../images/bg-comment.jpg") 50% 0 no-repeat #cee9fe;
    padding: 30px 77px; }
    .wrapper-landing main .box-comment .box-comment-mb {
      display: none; }
    .wrapper-landing main .box-comment .title-comment {
      display: block;
      color: #0443AB;
      font-size: 37px;
      text-align: center;
      font-family: "SVN-Gilroy Medium";
      margin-bottom: 25px; }
    .wrapper-landing main .box-comment .item-comment {
      display: flex;
      margin-bottom: 20px;
      position: relative;
      background-color: #FFFFFF;
      border-radius: 150px; }
      .wrapper-landing main .box-comment .item-comment .info-user {
        color: #2A338B; }
      .wrapper-landing main .box-comment .item-comment .content-comment {
        margin: 8px 0;
        color: #2E3191;
        font-weight: normal; }
      .wrapper-landing main .box-comment .item-comment .avatar-user {
        display: block;
        width: 122px;
        height: 122px;
        overflow: hidden;
        margin-right: 28px;
        position: absolute;
        top: 50%;
        margin-top: -61px;
        left: -61px;
        z-index: 2; }
      .wrapper-landing main .box-comment .item-comment .detail-comment {
        flex: 1;
        padding: 0 45px 27px 100px;
        color: #050B5A;
        font-size: 27px;
        line-height: 1.25;
        position: relative; }
        .wrapper-landing main .box-comment .item-comment .detail-comment:before {
          content: '';
          display: block;
          background: url("../images/icon-04.png") 0/100% no-repeat;
          width: 46px;
          height: 40px;
          position: absolute;
          top: -10px;
          left: 80px; }
        .wrapper-landing main .box-comment .item-comment .detail-comment:after {
          content: '';
          display: none;
          background: url("../images/icon-04.png") 0/100% no-repeat;
          transform: rotate(180deg);
          width: 47px;
          height: 44px;
          position: absolute;
          bottom: 26px;
          right: 0; }
        .wrapper-landing main .box-comment .item-comment .detail-comment .info-user {
          padding-left: 50px;
          color: #0443AB; }
      .wrapper-landing main .box-comment .item-comment:nth-child(even) .avatar-user {
        right: -61px;
        left: auto; }
      .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment {
        order: 1;
        border-left: 0;
        padding: 0 100px 27px;
        margin-right: 28px; }
        .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment:before {
          top: -10px;
          left: auto;
          right: 100px;
          transform: rotate(180deg); }
        .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment:after {
          bottom: 25px;
          right: 50px; }
        .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment .info-user {
          display: flex;
          justify-content: flex-end;
          padding-right: 50px; }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-comment .item-comment .detail-comment {
        padding: 0 50px 27px 90px; }
        .wrapper-landing main .box-comment .item-comment .detail-comment:before {
          left: 60px; }
      .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment {
        padding: 0 90px 27px 50px; } }
    @media only screen and (max-width: 767px) {
      .wrapper-landing main .box-comment {
        padding: 30px 30px; }
        .wrapper-landing main .box-comment .box-comment-desktop {
          display: none; }
        .wrapper-landing main .box-comment .box-comment-mb {
          display: block;
          padding-top: 25px; }
          .wrapper-landing main .box-comment .box-comment-mb .owl-stage-outer {
            padding-top: 15px; }
        .wrapper-landing main .box-comment .title-comment {
          font-size: 20px;
          margin-bottom: 0; }
        .wrapper-landing main .box-comment .item-comment {
          padding: 0;
          position: relative;
          margin-bottom: 24px; }
          .wrapper-landing main .box-comment .item-comment .avatar-user {
            width: 55px;
            height: 55px;
            position: absolute;
            top: 5px;
            left: 15px;
            z-index: 2; }
          .wrapper-landing main .box-comment .item-comment .detail-comment {
            border: 1px solid #2A338B;
            padding: 15px 15px 27px;
            font-size: 16px;
            line-height: 18px; }
            .wrapper-landing main .box-comment .item-comment .detail-comment .info-user {
              padding-left: 65px;
              margin-bottom: 20px; }
            .wrapper-landing main .box-comment .item-comment .detail-comment:before {
              display: none; }
            .wrapper-landing main .box-comment .item-comment .detail-comment:after {
              width: 33px;
              height: 33px;
              bottom: auto;
              top: -15px;
              right: 10px; }
          .wrapper-landing main .box-comment .item-comment:nth-child(even) .avatar-user {
            width: 55px;
            height: 55px;
            position: absolute;
            top: 5px;
            left: 15px;
            z-index: 2; }
          .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment {
            padding: 15px 15px 27px;
            border: 1px solid #2A338B;
            margin-right: 0;
            margin-left: 0; }
            .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment:after {
              width: 33px;
              height: 33px;
              bottom: 0px;
              right: 10px; } }
  .wrapper-landing main .box-slogan-bottom {
    background-color: #2A338B;
    color: #ffffff;
    line-height: 1.3;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    text-transform: uppercase;
    font-family: "SVN-Gilroy Medium";
    text-align: center; }
    .wrapper-landing main .box-slogan-bottom span {
      display: inline-block;
      margin-right: 4px; }
    @media only screen and (max-width: 1365px) {
      .wrapper-landing main .box-slogan-bottom {
        font-size: 36px; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-slogan-bottom {
        height: 98px;
        font-size: 24px; }
        .wrapper-landing main .box-slogan-bottom span {
          display: block; } }
  .wrapper-landing main .box-info-order {
    background: url("../images/bg-order.jpg") 50% 50% #c8eff8 no-repeat; }
    .wrapper-landing main .box-info-order .form-order {
      padding: 45px 30px 45px 0; }
      .wrapper-landing main .box-info-order .form-order h4, .wrapper-landing main .box-info-order .form-order label {
        color: #053D9B;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-family: 'UTM Avo Bold',sans-serif; }
      .wrapper-landing main .box-info-order .form-order .title {
        font-size: 36px;
        margin-bottom: 12px; }
      .wrapper-landing main .box-info-order .form-order input {
        width: 100%;
        margin-bottom: 5px;
        background-color: #053D9B;
        color: #ffffff;
        padding: 0 23px;
        font-size: 27px;
        border: none;
        height: 53px;
        font-weight: 500; }
        .wrapper-landing main .box-info-order .form-order input::placeholder {
          color: #ffffff; }
      .wrapper-landing main .box-info-order .form-order .btn-order {
        width: 248px;
        height: 54px;
        background-color: #EF413D;
        border-radius: 27px;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 33px;
        float: right;
        font-family: 'UTM Avo',sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        cursor: pointer; }
      .wrapper-landing main .box-info-order .form-order .box-counter {
        display: flex;
        align-items: center;
        margin: 5px 0 0; }
        .wrapper-landing main .box-info-order .form-order .box-counter label {
          font-size: 29px; }
        .wrapper-landing main .box-info-order .form-order .box-counter .box-cell-price {
          flex: 1;
          background-color: #EF413D; }
        .wrapper-landing main .box-info-order .form-order .box-counter .counter-main {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center; }
          .wrapper-landing main .box-info-order .form-order .box-counter .counter-main .btn-action {
            background-color: transparent;
            width: auto;
            color: #0A1C5F;
            font-size: 23px;
            font-weight: bold;
            cursor: pointer; }
            .wrapper-landing main .box-info-order .form-order .box-counter .counter-main .btn-action:hover, .wrapper-landing main .box-info-order .form-order .box-counter .counter-main .btn-action:focus {
              color: #E74522; }
          .wrapper-landing main .box-info-order .form-order .box-counter .counter-main .input-number {
            width: 40px;
            height: 40px;
            font-size: 26px;
            color: #ffffff;
            padding: 0;
            text-align: center; }
      .wrapper-landing main .box-info-order .form-order .counter-bottom {
        display: flex;
        align-items: center; }
        .wrapper-landing main .box-info-order .form-order .counter-bottom label {
          width: 50%;
          height: 53px;
          background-color: #EF413D;
          color: #ffffff;
          display: flex;
          font-size: 29px;
          align-items: center;
          justify-content: center; }
        .wrapper-landing main .box-info-order .form-order .counter-bottom input {
          width: 50%;
          margin-bottom: 0;
          background-color: #053D9B;
          text-align: right; }
    .wrapper-landing main .box-info-order .box-product-order {
      width: 53%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .wrapper-landing main .box-info-order .box-product-order .box-price {
        color: #0443AB;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 1.2;
        padding-right: 15px;
        font-family: "SVN-Gilroy Bold"; }
        .wrapper-landing main .box-info-order .box-product-order .box-price span {
          display: inline-block;
          font-size: 92px;
          font-weight: 900; }
        .wrapper-landing main .box-info-order .box-product-order .box-price label {
          font-size: 61px;
          display: block;
          width: 100%;
          font-weight: 900;
          text-align: right;
          border-bottom: 2px solid #0443AB;
          padding-bottom: 8px; }
        .wrapper-landing main .box-info-order .box-product-order .box-price .small-text {
          font-size: 33px; }
      .wrapper-landing main .box-info-order .box-product-order .box-brand {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .wrapper-landing main .box-info-order .box-product-order .box-brand .freeship {
          display: block;
          width: 365px;
          max-width: 100%; }
        .wrapper-landing main .box-info-order .box-product-order .box-brand .bottom-note {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #ffffff;
          width: 90%;
          height: 74px;
          background-color: #0A1C5F;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.2;
          margin-right: 8px; }
          .wrapper-landing main .box-info-order .box-product-order .box-brand .bottom-note h4 {
            font-size: 24px;
            font-weight: bold; }
    @media only screen and (max-width: 1199px) {
      .wrapper-landing main .box-info-order .form-order .title {
        font-size: 32px; }
      .wrapper-landing main .box-info-order .form-order input {
        font-size: 24px;
        border-radius: 0; }
      .wrapper-landing main .box-info-order .form-order .box-counter label {
        font-size: 22px; }
      .wrapper-landing main .box-info-order .form-order .counter-bottom label {
        font-size: 22px; }
      .wrapper-landing main .box-info-order .box-product-order {
        width: 53%; } }
    @media only screen and (max-width: 1023px) {
      .wrapper-landing main .box-info-order {
        background: url("../images/bg-order-mb.jpg") 50% 0 #c8eff8 no-repeat;
        background-size: 375px auto !important; }
        .wrapper-landing main .box-info-order .main-order {
          padding-top: 290px; }
          .wrapper-landing main .box-info-order .main-order .box-order-mb {
            width: 50%;
            max-width: 50%;
            flex: 0 0 50%; }
        .wrapper-landing main .box-info-order .form-order .title {
          font-size: 28px; }
        .wrapper-landing main .box-info-order .form-order input {
          font-size: 22px; }
        .wrapper-landing main .box-info-order .form-order .box-counter label {
          font-size: 18px; }
        .wrapper-landing main .box-info-order .form-order .counter-bottom label {
          font-size: 18px; }
        .wrapper-landing main .box-info-order .form-order .btn-order {
          font-size: 30px; }
        .wrapper-landing main .box-info-order .box-product-order {
          width: 100%; } }
    @media only screen and (max-width: 767px) {
      .wrapper-landing main .box-info-order .main-order {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 230px; }
        .wrapper-landing main .box-info-order .main-order .box-order-mb {
          width: 100%;
          max-width: 100%;
          flex: 0 0 100%; }
      .wrapper-landing main .box-info-order .form-order {
        padding: 45px 30px; }
        .wrapper-landing main .box-info-order .form-order .title {
          font-size: 28px; }
        .wrapper-landing main .box-info-order .form-order input {
          font-size: 22px; }
        .wrapper-landing main .box-info-order .form-order .box-counter label {
          font-size: 18px; }
        .wrapper-landing main .box-info-order .form-order .counter-bottom label {
          font-size: 18px; }
        .wrapper-landing main .box-info-order .form-order .btn-order {
          font-size: 30px; }
      .wrapper-landing main .box-info-order .box-product-order {
        width: 100%;
        flex-direction: row-reverse;
        padding-top: 65px; }
        .wrapper-landing main .box-info-order .box-product-order .box-price {
          width: 50%; }
          .wrapper-landing main .box-info-order .box-product-order .box-price span {
            font-size: 50px; }
          .wrapper-landing main .box-info-order .box-product-order .box-price label {
            font-size: 30px; }
        .wrapper-landing main .box-info-order .box-product-order .box-brand {
          width: 50%; } }
    @media only screen and (max-width: 567px) {
      .wrapper-landing main .box-info-order .form-order {
        padding: 30px 0; }
        .wrapper-landing main .box-info-order .form-order .title {
          font-size: 20px; }
        .wrapper-landing main .box-info-order .form-order input {
          font-size: 17px;
          height: 34px; }
        .wrapper-landing main .box-info-order .form-order .box-counter .counter-main .input-number {
          height: 34px;
          width: 34px;
          font-size: 23px; }
        .wrapper-landing main .box-info-order .form-order .counter-bottom {
          margin-top: 5px; }
          .wrapper-landing main .box-info-order .form-order .counter-bottom label {
            height: 34px; }
        .wrapper-landing main .box-info-order .form-order .btn-order {
          width: 160px;
          height: 34px;
          font-size: 20px; }
      .wrapper-landing main .box-info-order .box-product-order .box-price span {
        font-size: 34px; }
      .wrapper-landing main .box-info-order .box-product-order .box-price label {
        font-size: 20px; }
      .wrapper-landing main .box-info-order .box-product-order .box-price .small-text {
        font-size: 9px; }
      .wrapper-landing main .box-info-order .box-product-order .box-brand {
        width: 50%; }
        .wrapper-landing main .box-info-order .box-product-order .box-brand .bottom-note {
          height: 34px;
          font-size: 9px; }
          .wrapper-landing main .box-info-order .box-product-order .box-brand .bottom-note h4 {
            font-size: 12px; } }

.swiper-pagination {
  display: none;
  bottom: 15px; }
  .swiper-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px; }
    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #2A338B; }
  @media only screen and (max-width: 768px) {
    .swiper-pagination {
      display: block; } }

.form-error {
  font-size: 14px;
  color: #FF0000; }
